/* @override http://0.0.0.0:4000/css/style.css */

* {
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0 0 0 0px;
	margin: 0;
	background: #000;
}

body > .snipcart-checkout {
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	font: 900 36px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 24px;
}

h1 {
	font: 900 36px/48px Georgia, "Times New Roman", Times, serif;
	color: #b81515;
}
h2 {
	font:900  30px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	left: 1px;
}
h3 {
	font: 500 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
h4 {
	font: 500 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
p {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
ul {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a:hover {
	color: #b23636;
}
.button {
	display: inline-block;
	position: relative;
	/*height: 48px;*/
	width: ;
	margin:0;
	padding: 12px 36px;
	border: 2px solid #fff;
	/*border-color: #b81515;*/
	background: #b81515;
	border-radius: 2px;	
	font: 300 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
	color: #fff;
	/*color: #b81515;*/
	
	background: #b81515;
	border-color: #b81515;
	color: #fff;
}
.button:hover,
.button:active {
	color: #fff;
	border-color: #b81515;
	background: #b81515;
	
	background: #b83125;
	border-color: #b83125;
}


.button.outline {
	background: none;
	color: #b83125;
}
.button.outline:hover {
	background: #b83125;
	color: #fff;
}


.button.white-border {
	border: 2px solid #fff;
	border-radius: 3px;
}
.button.white-border:hover {
	background: #fff;
	color: #b83125;
}


.button.dark {
	border-color: #000;
	color: #000;
}
.button.dark:hover {
	background: #000;
	color: #fff;
}

.button.red{
	
}




.button > .attention {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(178, 54, 54, 1);
	border-radius: 3px;
	-webkit-animation: buttonpulse 1.5s ease-out infinite;
	        animation: buttonpulse 1.5s ease-out infinite;
}


	









/* @group header */
header {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 250px;
	padding: 24px;
	background: -webkit-linear-gradient(15deg, #2d363c, #1e272f) rgba(0,0,0,.05);
	background: linear-gradient(-135deg, #2d363c 50%, #1e272f 100%) rgba(0,0,0,.05);
	background: #b83125;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,.05);
	-webkit-transition: all .3s ease-in-out 0s;
	        transition: all .3s ease-in-out 0s;
}
header > .menu-button {
	display: none;
	position: relative;
	left: 100%;
	top: -12px;
	width: 48px;
	height: 36px;
	margin: 0 0 0 36px;
	cursor: pointer;
}
header > .menu-button > span {
	position: relative;
	display: block;
	background: #fff;
	height: 8px;
	margin: 6px 0;
	border-radius: 3px;
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}
header > .logo {
	margin: 0;
	padding: 24px 24px 48px 24px;
	border-bottom: 1px dotted rgba(0,0,0,.15);
	box-shadow: 0px 1px 0px rgba(255,255,255,.05);
}

/* Header */
header > .logo > a {
	display: inline-block;
	margin: 0;
	font: 100 16px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
}

header > .logo > a > div {
	display: inline-block;
	font:900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0px;
}
header > .logo > a > img {
	width: 96%;
	margin: 0 0 12px 0;
}



header > nav{
	list-style: none;
	margin: 0;
	/*padding: 48px 0;*/
	/*text-align: left;*/
}
header > nav> a {
	/*margin: 0 0 12px 0;*/
	padding: 0;
	color: #fff;
	border-bottom: 1px dotted rgba(0,0,0,.15);
	box-shadow: 0px 1px 0px rgba(255,255,255,.05);
	
	display: block;
	text-decoration: none;
	font:200 18px/48px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
}
header > nav> a:hover {
	color: #fff;
	font-weight: 500;
}
header > nav> li.selected > a {
	
}


header > .base {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 250px;
	padding: 12px;
	background: rgba(255,255,255,.05);
}
header > .base > p {
	color: rgba(255,255,255,.5);
	font: 100 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
}
header > .base > p > img {
	display: block;
	width: 175px;
	margin: 0 auto;
	vertical-align: middle;
}





/*  */




header {
	position: fixed;
	z-index: 100000;
	left: -250px;
}
header > .menu-button {
	position: relative;
	display: block;
}

header.open {
	left: 0;
}
header.open > .menu-button {
	
}
header.open > .menu-button > span {
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;	
}
header.open > .menu-button > span.one {
	top: 14px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
header.open > .menu-button > span.two {
	top: 0px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
header.open + .content {
	opacity: .25;
	filter: alpha(opacity=25);
}
header.open > .menu-button > span.three {
	opacity: 0;
	filter: alpha(opacity=0);
}



/* @end */



/* @group CONTENT */
.content {
	position: relative;
	height: 100%;
	/*overflow: scroll;*/
}
.content > div {
	/*height: 100%;*/
	min-height: 100%;
	/*max-width: 720px;*/
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: #fff;
}
.content section {
	max-width: 720px;
	margin: 0 auto;	
	padding: 48px 0;
}


/* @end */





/* @group BANNER */
.banner {
	position: relative;
	height: 100%;
	/*max-height: 720px;*/
	min-height: 320px;
	padding: 0px 0;
	background: #b81515;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center!important;
	color: #fff;
	text-align: center;
	white-space: nowrap;
}
.content .banner.half {
	height: 50%;
	min-height: 480px;
	background-image: radial-gradient(ellipse farthest-corner, #333 24%, black 100%) #000;
	background-attachment:scroll;
	background-size: contain;
	background-repeat: no-repeat;
	
	height: 50%;
	background-image: radial-gradient(ellipse farthest-corner, #333 24%, black 100%) #000;
	background-attachment:scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:bottom center!important;
	/*box-shadow: 0 75px 75px rgba(0,0,0,.75) inset;*/
}
.content .banner.half.blog-post {
	
}
/*.content .banner.half > hgroup > h1 {
	background: #000;
	float: left;
	padding: 12px 24px;
}*/

.banner > img {
	position: absolute;
	height: 100%;
}
.banner > img.left {
	left: 0;
	top: 0;
}
.banner > img.right {
	top: 0;
	right: 0;
}
/*.banner:before {
	display: none;
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(circle, rgba(0, 0, 0, .5) 0%, rgba(0,0,0,.75) 100%);	
}*/
.banner:after {
	content: '\00a0';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

/* @group Notifications */

.banner > .notification {
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 90%;
	max-width: 540px;
	margin: 0 auto;
	padding: 12px;
	background: #000;
	border-radius: 0 0 3px 3px;
	color: #fff;
}
.banner > .notification > h3 {
	color: #fff;
	font: 200 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.banner > .notification > h3 > i {
	margin: 0 12px 0 0;
}
.banner > .notification > h3 > a {
	display: inline-block;
	margin: 0 0 0 24px;
	padding: 3px 12px;
	background: #fff;
	text-decoration: none;
	border-radius: 3px;
}

/* @end */


/* HGROUP */
.banner > hgroup {
	position: relative;
	z-index: 1000;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	/*margin: 0 -.25em;*/
	vertical-align: middle;
	white-space: normal;
	text-align: center;
}
.banner > hgroup > img {
	display: block;
	max-width: 250px;
	margin: 0 auto 0 auto;
}
.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font:400 36px/48px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
	text-shadow: 0 1px 6px rgba(0,0,0,.5);
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.banner > hgroup > h2 {
	margin: 0 0 36px 0;
	font: 100 24px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,1);
	text-shadow: 0 1px 6px rgba(0,0,0,.5);
	text-transform: capitalize;
}
.banner > hgroup > a > i {
	font-size: 18px;
	text-align: center!important;
	margin: 0px -18px 0 12px;
	padding: 8px;
	border-radius: 24px;
}


.banner > hgroup.video {
	
}
.banner > hgroup.video > h1 {
	position: relative;
	padding: 0 96px 0 0;
	
}




/* @group Video Controls */
/*hgroup.video {
	text-align: left;
}*/
/*.video-controls {
	display: inline-block;
	background: #b81515;
	padding: 0 72px 0 0;
	white-space: normal;
	cursor: pointer;
	-webkit-transition: padding .2s ease-out 0s;
}*/
/*.video-controls > h1 {
	position: relative;
	padding: 12px 24px;
	background: #000;
	display: block;
	color: #fff;
}*/
/*.video-controls > h1 > .video-play {
	/*position: relative;*!/
	position: absolute;
	top: 50%;
	left: 100%;
	width: 72px;
	height: 72px;
	margin: -36px 0 0 0;
	font: 900 48px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	cursor: pointer;
	text-align: center;
	-webkit-transition: width .5s ease-in-out 0s;
	/*overflow: hidden;*!/
}*/
/*.video-controls > h1 > .video-play > .video-cta {
	display: block;
	font: 100 11px/11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: #fff;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: opacity .2s ease-out 0s;
}



.video-controls:hover{
	padding: 0 96px 0 0;
}
.video-controls:hover .video-play {
	width: 96px;
	-webkit-transition: width .5s ease-in-out 0s;
}
.video-controls:hover > h1 > .video-play > .video-cta {
	opacity: 1;
}*/


/* @end */
/* @end */










/* @group Untitled Scroll CTA */

.scroll-cta {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.scroll-cta > img {
	display: block;
	margin: 0 auto;
}
.scroll-cta > span {
	display: inline-block;
	margin: 12px 0;
	font: 200 8px/10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1;
}

/* @end */














/* @group Main Gallery */

.main-gallery {
	height: 84%;
	/*padding: 72px 0 0 0;*/
	min-height: 320px;
	background: #000;
}
.main-gallery.full {
	height: 100%;
}

.main-gallery .gallery-cell {
	width: 100%;
	height: 100%;
	text-align: center;
	background-position: center!important;
	background-size: cover!important;
	background-repeat: no-repeat;
	background: #91d5d3;
	background: #fff;
	white-space: nowrap;
}
.main-gallery .gallery-cell.first-cell {
	
}
.main-gallery .gallery-cell:before {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	margin: 0 -.25em 0 0;
	vertical-align: middle;
}
.main-gallery .gallery-cell > img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.main-gallery .gallery-cell > hgroup {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 960px;
}
.main-gallery .gallery-cell > hgroup > h1 {
	color: #fff;
	margin: 0 0 24px 0;
	text-shadow: none;
	text-transform: capitalize;
}
/* position dots in gallery */
.main-gallery .flickity-page-dots {
  bottom: 48px;
}
/* white circles */
.main-gallery .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.main-gallery .flickity-page-dots .dot.is-selected {
  background: white;
}


/* big buttons, no circle */
.main-gallery .flickity-prev-next-button {
  width: 48px;
  height: 48px;
  background: transparent;
}
.main-gallery .flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.main-gallery .flickity-prev-next-button .arrow {
  fill: white;
}
.main-gallery .flickity-prev-next-button.no-svg {
  color: white;
}
/* hide disabled button */
.main-gallery .flickity-prev-next-button:disabled {
  display: none;
}



/* Hgroup */
.main-gallery .gallery-cell > hgroup {
	
}
.main-gallery .gallery-cell > hgroup > h1 {
	font: 700 30px/36px Georgia, "Times New Roman", Times, serif;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	letter-spacing: 2px;
}
.main-gallery .gallery-cell > hgroup > .logo {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto 24px auto;
	background-size: cover;
	background-position: center;
	background-color: #ccc;
	border: 6px solid #fff;
	border-radius: 150px;
	overflow: hidden;
}
.main-gallery .gallery-cell > hgroup > .logo > img {
	width: 100%;
}
.main-gallery .gallery-cell > hgroup > .button {
	margin: 0;
}
/* @end */
































/* @group Overlay */
.overlay {
	position: fixed;
	z-index: 100000000000;
	width: 100%;
	height: 100%;
	left: 300%;
	top: 0;
	padding: 48px;
	background: rgba(0,0,0,.75);
	text-align: center;
	white-space: nowrap;
}
.overlay.visible {
	left: 0;
}
.overlay > .close-overlay {
	position: absolute;
	top: 12px;
	right: 12px;
	border: 2px solid #fff;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	text-align: center;
	font: 400 24px/42px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	cursor: pointer;
}
.overlay > .close-overlay:hover {
	background: #fff;
	color: #000;
}
.overlay > .close-overlay:active {
	background: #000;
	color: #fff;
}
.overlay > .video-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	vertical-align: middle;
}
.overlay:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	/*background: red;*/
	vertical-align: middle;
}
.overlay > .video-wrapper > iframe {
	/*top: 0;
	left: 0;
	width: 100%;*/
}
/* @end */














/* @group Video Control */
.video-controls {
	position: relative;
	display: block!important;
	width: 96px;
	height: 96px;
	margin: 0 auto!important;
	margin: 0 -.25em 0 0;
	cursor: pointer;
	text-align: center;
}
.video-controls > .video-play {
	position: relative;
	display: inline-block;
	box-sizing: content-box;
	width: 96px;
	height: 96px;
	height: 96px;
	font: 500 48px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
	color: #fff;
	border: 5px solid #fff;
	border-radius: 96px;
	cursor: pointer;
	text-align: center;
}
.video-controls > .video-play > .video-cta {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 24px auto 0 auto;
	font: 400 11px/11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,.5);
}
.video-controls > .video-play > i {
	display: inline-block;
	position: relative;
	left: 6px;
	/*top: -3px;*/
	/*background: #f16;*/
	height: 96px;
	line-height: 96px!important;
}
.video-controls > .video-play > .video-button-outline {
	position: absolute;
	box-sizing: content-box;
	border: 2px solid #fff;
	border-radius: 96px;
	-webkit-animation: pulse 1.5s ease-in-out infinite;
	        animation: pulse 1.5s ease-in-out infinite;
}
@-webkit-keyframes pulse {
  0% {
  	top: 0px;
  	left: 0px;
	width: 96px;
	height: 96px;
	opacity: .5;
	filter: alpha(opacity=50);
  }
  100% {
  	top: -32px;
  	left: -32px;
    width: 150px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes pulse {
  0% {
  	top: 0px;
  	left: 0px;
	width: 96px;
	height: 96px;
	opacity: .5;
	filter: alpha(opacity=50);
  }
  100% {
  	top: -32px;
  	left: -32px;
    width: 150px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}



.video-controls:hover > .video-play {
	/*width: 120px;
	height: 120px;*/
	background: #fff;
	color: #000;
	/*font: 900 84px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
}
.video-controls:active > .video-play {
	background: #000;
	color: #fff;
}


/* @end */






/* @group ALTERNATING */
.alternating {
	padding: 0;
	background: #f2f2f2;
}
.alternating > div {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 150px 0;
}
.alternating > div:first-of-type {
	
}
.alternating > div > img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 320px;
	margin: -160px 0 0 48px;
}

.alternating > div > hgroup {
	padding: 0 50% 0 0;
}
.alternating > div > hgroup > h2 {
	margin: 0 0 48px;
	font: 200 42px/1.0865em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.alternating > div > hgroup > p {
	font: 400 18px/1.45em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0 0 36px 0;
	clear: left;
}


.alternating > div:nth-of-type(even) > hgroup {
	padding: 0 0 0 50%;
}
.alternating > div:nth-of-type(even) > img  {
	left: auto;
	right: 50%;
	margin: -160px 48px 0 0;
}
.alternating > div:nth-of-type(even) > h2 {
	float: right;
}
.alternating > div:nth-of-type(even) > p {
	float: right;
	clear: right;
}




.alternating > section {
	max-width: none;
	text-align: center;
	padding: 200px 96px;
	background-attachment: fixed!important;
	background-size: cover!important;
}
.alternating > section > h4 {
	max-width: 720px;
	margin: 0 auto;
	font: 100 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	letter-spacing: 2px;
}



@media all and (max-width: 1080px) {

.alternating {
	padding: 24px;
}

}



@media all and (max-width: 720px) {
/* @group ALTERNATING */
.alternating {
	/*max-width: 480px;*/
}
.alternating > div {
	/*padding: 24px 0;*/
	
	padding: 0;
	text-align: center;
}
.alternating > div:first-of-type {
	margin-top: 0;
}
.alternating > div > hgroup {
	padding: 24px 0!important;
	text-align: left;
}
.alternating > div > hgroup > h2 {
	margin: 0 0 12px 0;
}
.alternating > div > hgroup > p {
	margin: 0;
}
.alternating > div:first-of-type {
	/*padding-bottom: 24px;*/
}

.alternating > div > img {
	position: relative;
	left: auto;
	right: auto!important;
	height: 240px;
	margin: 0!important;
	
	height: auto;
	width: 100%;
}
.alternating > div > hgroup > h2 {
		font-size: 36px;
}
.alternating > div > hgroup > p {
	
}
}
/* @end */







/* @group Blog Posts */
.blogposts {
	max-width: 800px;
	margin: 0 auto;
	padding: 96px 0px;
	list-style: none;
	text-align: left;
}
.blogposts > li {
	display: inline-block;
	max-width: 48%;
	margin: 0 -.25em 4% 0;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	vertical-align: top;
}
.blogposts > li:nth-last-of-type(even) {
	margin-left: 4%;
}
.blogposts > li > a {
	display: block;
	padding: 24px;
	text-decoration: none;
}
.blogposts > li > a > .postbanner {
	height: 150px;
	margin: -24px -24px 24px -24px;
	background-color: #000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.blogposts > li > a > h2 {
	margin: 0 0 12px;
	font: 900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #b81515;
}
.blogposts > li > a > h3 {
	font: 400 11px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	font-style: italic;
}
.blogposts > li > a > p {
	height: 96px;
	padding: 0;
	overflow: hidden;
	font: 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
	text-overflow: ellipsis;
}
/* @end */






/* @group Article */
article {
	max-width: 720px;
	margin: 0 auto;
	padding: 60px 0px 60px 0;
}


article > hgroup {
	margin: 72px 0 48px 0;
	text-align: center;
}
article > h1 {
	margin: 36px 0;
}
article > h2 {
	margin: 36px 0;
}
article > p+h3  {
	margin: 72px 0 0 0;
}


article > blockquote > p {
	margin: 72px;
	text-align: center;
	font-size: 36px;
	font-weight: 100;
	letter-spacing: 1px;
	color: #b23636;
}
article > blockquote > p:before,
article > blockquote > p:after {
	content: '"';
}
article img {
	width: 100%;
}

article p {
	position: relative;
	margin: 36px 0;
	font-size: 20px;
	overflow: hidden;
}
article > h3+p {
	margin: 0 0 36px 0;
}
article > p:first-of-type:first-letter { 
	float: left; 
	color: #b23636; 
	font-size: 120px; 
	line-height: 96px; 
	vertical-align: top;
	padding-top: 12px; 
	padding-right: 24px; 
	padding-left: 3px; 
	font-family: Georgia; 
}
article > hr {
	height: 48px;
	border: none;
	border-top: 1px dotted #ccc;
}


article > ul {
	padding: 0 0 0 24px;
}
article > ul > li{
	margin: 36px 0;
	/*padding: 50px;*/
	font-size: 20px;
}
/* @end */




/* @group Gallery */

.content .gallery {
	text-align: center;
	overflow: hidden;
	padding: 48px 0 0 0;
	/*margin: 0 auto;*/
}
.gallery > a {
	display: inline-block;
	float: left;
	width: 33.333333%;
	height: 240px;
	/*margin: 0 -.25em 0 0;*/
	background-size: cover;
	background-position: center;
}

/* @end */




/* @group FAQ */

.faq {
	padding-top: 72px!important;
}
.faq > ul {
	list-style: none;
}
.faq > ul > li {
	padding: 24px;
	border: 1px solid #ccc;
	overflow: visible;
}
.faq > ul > li > h3 {
	position: relative;
	display: inline-block;
	top: -48px;
	margin: 0 0 -48px;
	padding: 12px;
	background: #fff;
	font: 500 24px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.faq > ul > li > p {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */






/* @group Donate */

.donate {
	padding: 24px;
	text-align: center;
}
.content .donate > section {
	display: inline-block;
	width: 250px;
	padding: 0;
	border: 1px solid #ccc;
	vertical-align: top;
	text-align: center;
}
.content .donate > section.red {
	border: 1px solid #b83125;
}
.donate > section.red > h3 {
	background: #b83125;
	border-bottom: 1px solid #b83125;
	color: #fff;
}

.content .donate > section.black {
	border: 1px solid #333;
}
.donate > section.black > h3 {
	background: #333;
	border-bottom: 1px solid #eee;
	color: #fff;
}

.donate > section > h3 {
	padding: 12px;
	background: #ccc;
	border-bottom: 10px solid #ccc;
	color: #444;
	text-transform: uppercase;
	font: 400 18px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.donate > section > h4 {
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
	font: 200 18px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.donate > section > label {
	position: relative;
	display: block;
	width: 100%;
	padding: 12px 12px 0 12px;
	/*border-bottom: 1px solid #f16;*/
}
.donate > section > label:before {
	content: '$';
	position: absolute;
	width: 48px;
	height: 48px;
	/*background: #f16;*/
	font: 200 16px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.donate > section > label > input {
	-webkit-box-sizing: border-box!important;
	display: inline-block;
	width: 100%;
	height: 48px;
	padding: 0 0 0 48px;
	border: 1px solid #ccc;
	border-radius: 3px;
	vertical-align: top;
	font: 400 18px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.donate > section > p {
	padding: 12px;
	font: 400 16px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.donate > section > ul {	
	text-align: left;
	list-style: none;
	padding: 12px;
}
.donate > section > ul > li {
	font: 200 15px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.donate > section > ul > li:before {
	content: '-';
	display: inline-block;
	padding: 0 6px;
}
.donate > section > div {
	width: 100%;
	padding: 12px;
}
.donate > section > div > p {
	font: 200 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.donate > section > div > .button {
	display: inline-block;
	width: 100%;
}

/* @end */






/* @group Pricing */
.pricing {
	overflow: hidden;
}
.pricing > div {
	position: relative;
	float: left;
	width: 32%;
	height: 600px;
	margin: 0 2% 2% 0;
	padding: 12px;
	box-shadow: 0 0 0 3px rgba(0,0,0,.09) inset;
}
.pricing > div:nth-of-type(3n) {
	margin: 0;
}
.pricing > div > h3 {
	margin: 0 -12px;
	padding: 24px;
	/*border-bottom: 1px solid #ccc;*/
	font: 900 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #efb750;
	text-align: center;
	text-transform: uppercase;
}
.pricing > div > h4 {
	padding: 24px 0;
	font: 800 36px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #f2e5bb;
	text-align: center;
}
.pricing > div > h4:before {
	content: '$';
}
.pricing > div > ul {
	list-style: none;
	text-align: center;
	color: #f2e5bb;
}
.pricing > div > ul > li {
	
}
.pricing > div > ul > li:before {
	content: '-';
}
.pricing > div > a {
	display: block;
	margin: 24px;
	padding: 12px 0;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background: rgba(0,0,0,.15);
}
.pricing > div > a:hover {
	background: rgba(0,0,0,.25);
}
.pricing > div > .button {
	position: absolute;
	display: block;
	left: 5%;
	bottom: 5%;
	width: 90%;
	/*margin: 0 34px;*/
	text-align: center;
	border: none;
	background: #efb750;
	color: #fff;
	
	
}
.pricing > div > .button:hover {
	border: none;
	background: #efb750;
	color: #fff;
	box-shadow: 0px -7px 0 -5px rgba(0,0,0,.15)inset, 0px -2px 0 0px #efb750;
}
.pricing > div > .button:active {
	border: none;
	background: #e1b35d;
	color: #fff;
	box-shadow: 0px 7px 0 -5px rgba(0,0,0,.15)inset;
}



@media all and (max-width: 720px) {

.pricing > div {
	/*float: none;*/
	width: 48%;
	margin: 0;
}
.pricing > div:nth-of-type(3n) {
	margin-right: 0 2% 2% 0;
}

}


@media all and (max-width: 480px) {

.pricing > div {
	float: none;
	width: 100%;
	height: auto;
}
.pricing > div > .button {
	position: relative;
	left: 0;
	width: 100%;
	margin: 48px 0 0 0;
}

}
/* @end */






/* @group Stein */

.stein {
	overflow: hidden;
	padding: 48px 24px;
	background: #000;
	background-size: cover;
	text-align: center;
}
.stein > h1 {
	font: 48px Georgia, "Times New Roman", Times, serif;
	color: #fff;
	text-transform: uppercase;
}
.stein > h2 {
	font: 200 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.stein > img {
	/*float: left;*/
	width: 50%;
	max-width: 240px;
}

/* @end */






/* @group Beer */

.beer {
	position: relative;
	height: 100%;
	max-height: 720px;
}
.beer > img {
	position: absolute;
	right: 100%;
	width: 50%;
}
.beer > .quantity {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0%!important;
}
.beer > .quantity > h3 {
	margin: 0 0 48px 0;
	text-align: center;
}
.beer > .quantity > div {
	float: left;
	width: 30%;
	/*padding: 24px;*/
	border: 1px solid #ccc;
	text-align: center;
}
.beer > .quantity > div > img {
	width: 50%;
	margin: -25% 0 0 0%;
}
.beer > .quantity > div > .button {
	margin: 0 0 12px 0;
}

/* @end */






/* @group Donors */

.donors {
	padding: 96px 0;
	/*background: #e5e5e5;*/
}
.donors > h2 {
	/*display: none;*/
	text-align: center;
	margin: 0 0 48px 0;
}
.donors > ul {
	text-align: center;
	list-style: none;	
}
.donors > ul > li {
	display: inline-block;
	width: 100%;
	max-width: 150px;
}
.donors > ul > li > img {
	position: relative;
	z-index: 100;
	border-radius: 0px;
	max-width: 150px;
	margin: 0 0 12px 0;
}
.donors > ul > li > h3{	
	display: none;
	position: relative;
	z-index: 50;
	top: -50px;
	font: 700 14px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	transition: all 1s ease-in .3s;
	text-transform: uppercase;
}
.donors > ul > li:hover > h3 {
	top: 0;
	transition: all .3s ease-out .0s;
}

/* @end */




/* @group Scholars */

.scholars {
	text-align: center;
}
.scholars > h2 {
	margin: 0 0 48px 0;
}
.scholars > ul {
	list-style: none;
	text-align: center;
}
.scholars > ul > li {
	display: inline-block;
	text-align: center;	
	margin: 0 12px;
	padding: 0;
}
.scholars > ul > li > img {
	max-width: 150px;
	border-radius: 96px;
}
.scholars > ul > li > h3 {
	font: 400 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.scholars > ul > li > h4 {
	font: 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */




/* @group Board Members */

.boardmembers {
	
}
.boardmembers > ul {
	list-style: none;
}
.boardmembers > ul > li {
	text-align: center;	
	margin: 0;
	padding: 0;
}
.boardmembers > ul > li > img {
	max-width: 96px;
	border-radius: 96px;
}
.boardmembers > ul > li > h3 {
	font: 400 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.boardmembers > ul > li > h4 {
	font: 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */






/* @group Signup */

.signup {
	padding: 24px 0 96px 0;
	text-align: center;
}
.signup > div > div {
	display: inline-block;
	/*margin: 0 -.25em 0 0;*/
	vertical-align: top;
}
.signup > div > .mc-field-group {
	position: relative;
	white-space: nowrap;
	border: 1px solid #ccc;
	/*border-right: none;*/
}
.signup > div > .mc-field-group > label {
	position: absolute;
	left: 12px;
	height: 48px;
	font:900 12px/53px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.signup > div > .mc-field-group > label:after {
	content: ':';
}
.signup > div > .mc-field-group > input {
	width: 250px;
	height: 50px;
	padding-left: 60px;
	font: 400 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.signup > div > .clear {
	height: 50px;
}
.signup > div > .clear > .button {
	display: inline-block;
	height: 50px;
	padding: 10px 24px;
	font: 200 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */






/* @group Contact */

.contact {
	max-width: 320px!important;
	padding: 48px 0!important;
	overflow: hidden;
}
.contact > p {
	/*float: left;
	width: 50%;
	border: 1px solid #ccc;
	padding: 12px;*/
	margin: 0 0 30px 0;
	font: 400 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	/*white-space: nowrap;*/
	text-align: left;
	letter-spacing: 1px;
}
.contact > p:last-of-type {
	margin: 0;
}
.contact > p > span:before {
	content: attr(title);
	/*padding: 0 0 0 36px;*/
	font: 200 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	text-align: left;
	letter-spacing: 1px;
}
.contact > p > span {
	display: inline-block;
	vertical-align: middle;
}
.contact > p > i {
	/*display: none;*/
	width: 24px;
	margin: 0 12px 0 0;
	padding: 3px 0px;
	text-align: left;
}

/* @end */






/* @group Contact Form */

.contact-form {
	text-align: center;
	padding: 96px 24px!important;
}
.contact-form > h3 {
	margin: 0 0 24px;
	font: 900 24px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
}
.contact-form > h4 {
	font: 100 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.contact-form > form {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
}
.contact-form > form > label {
	position: relative;
	display: block;
	margin: 0 0 12px 0;
	text-align: left;
	border: 1px solid #ccc;
}
.contact-form > form > label > span {
	position: absolute;
	display: inline-block;
	padding: 0 12px;
	font: 400 15px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.contact-form > form > label > span > i {
	margin: 0 12px 0 0;
}
.contact-form > form > label > input{
	padding: 0 0 0 96px;
	border: none;
	width: 100%;
	height: 36px;
	font: 200 16px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.contact-form > form > label > textarea {
	display: inline-block;
	width: 100%;
	height: 150px;
	padding: 36px 12px 12px 12px;
	border: none;
	vertical-align: top;
	font: 200 16px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
/* @end */






/* @group Map Address */

.map-address {
	padding-top: 150px!important;
	text-align: center;
}
.map-address > p {
	font: 200 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.map-address > p > strong {
	font: 700 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group Map */
#map {
	position: relative;
    height:72%;
    width: 100%;
}
.gm-style-iw * {
    display: block;
    /*width: 100%;*/
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
/* @end */





/* @group Footer */

.footer {
	background: #b81515;
	color: #fff;
}
.footer > section {
	text-align: center;
}


.footer > section > a {
	display: block;
	margin: 0 auto 12px auto;
	max-width: 120px;
	text-decoration: none;
}

.footer > section > a > img {
	width: 100%;
}


.footer > section > .social {
	margin: 0 0 24px 0;
}
.footer > section > .social > a {
	text-decoration: none;
	font-size: 24px;
	color: inherit;
	margin: 0 12px;
}
.footer > section > .social > a:hover {
	color: #e71d25;
}


.footer > section > nav {
	
}
.footer > section > nav > a {
	margin: 0 9px;
	text-decoration: none;
	color: inherit;
}
.footer > section > nav > a:hover {
	color: #e71d25;
}



.footer > section > .copyright {
	margin: 0 0 24px 0;
	font: 200 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	color: rgba(255,255,255,.5);
}



.footer > section > .contact {
	display: none;
}
.footer > section > .contact > p {
	font:200  14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
/* @end */





/* @group Snapchat Overlay */

.snapchat-overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000000000000000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.84)!important;
	cursor: pointer;
}
.snapchat-overlay.visible {
	display: block;
}
.snapchat-overlay:before {
	content: 'X';
	position: absolute;
	display: inline-block;
	width: 48px;
	height: 48px;
	top: 12px;
	right: 12px;
	font: 200 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}
.snapchat-overlay > img {
	position: relative;
	display: block;
	top: 50%;
	width: 240px;
	margin: -120px auto 0 auto;
}
/* @end */










@media all and (max-width: 1080px) {

.content section {
	padding: 36px;
}
article {
	padding: 36px;
}

}






@media all and (max-width: 720px) {

.blogposts {
	padding: 48px;
}
.blogposts > li,
.blogposts > li:nth-last-of-type(even) {
	max-width: 100%;
	margin: 0 0 48px 0;
}

}






@media all and (max-width: 540px) {
.banner > hgroup {
	/*padding: 96px 24px;*/
	text-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.banner > hgroup > img {
	max-width: 320px;
	/*margin: 0 0 24px 0;*/
}
.banner > hgroup > h1 {
	margin: 0 0 0px 0;
	font-size: 24px;
	line-height: 30px;
}


.trucks > ul > li {
	max-width: 100%;
	width: 100%;
}




}





