/* @override http://127.0.0.1:4000/css/style.css */

/* @group General */

* {
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0 0 0 0px;
	margin: 0;
	background: #000;
}

body > .snipcart-checkout {
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	font: 900 36px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 24px;
}

/* @end */




/* @group Article */

h1 {
	font: 900 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
}
h2 {
	font: 200 30px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #333;
}
h3 {
	font:900 20px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
h4 {
	font: 500 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
p,
ul,
ol {
	font: 200 17px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
ul,
ol {
	padding: 0 0 0 24px;
}
ul li,
ol li {
	margin: 0 0 24px 0;
}
a {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}



article {
	max-width: 720px;
	margin: 0 auto;
	padding: 60px 0px 60px 0;
}


article > hgroup {
	margin: 72px 0 48px 0;
	text-align: center;
}
article > h1,
article > h2,
article > h3 {
	margin: 0 0 36px 0;
}
article > blockquote > p {
	/*margin: 72px;*/
	padding: 24px;
	border: 2px solid #ccc;
	border-radius: 3px;
	font: 700 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	letter-spacing: 1px;
	
}

article img {
	display: block;
	width: auto;
	max-width: 100%;
	margin: 12px 0;
}
article p {
	position: relative;
	margin: 0 0 48px 0;
	overflow: hidden;
}
article > h3+p {
	margin: 0 0 36px 0;
}
/*article > p:first-of-type:first-letter { 
	float: left; 
	color: #b23636; 
	font-size: 120px; 
	line-height: 96px; 
	vertical-align: top;
	padding-top: 12px; 
	padding-right: 24px; 
	padding-left: 3px; 
	font-family: Georgia; 
}*/
article > hr {
	height: 48px;
	border: none;
	border-top: 1px dotted #ccc;
}


article > ul {
	padding: 0 0 0 24px;
}
article > ul > li{
	margin: 36px 0;
	/*padding: 50px;*/
	font-size: 20px;
}
/* @end */






/* @group Blog Post Article */

article.blog-post {
	padding: 24px;
}

/* @end */






/* @group Buttons */
.button {
	display: inline-block;
	position: relative;
	/*height: 48px;*/
	width: ;
	margin:0;
	padding: 12px 36px;
	border: 2px solid #fff;
	border-radius: 96px;	
	font: 300 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
	background: #cb2027;
	border-color: #cb2027;
	color: #fff;
}
.button:hover,
.button:active {
	color: #fff;
	background: #dc252c;
	border-color: #dc252c;
}


.button.outline {
	background: none;
	color: #b83125;
}
.button.outline:hover {
	background: #b83125;
	color: #fff;
}


.button.dark-border {
	border: 3px solid #000;
	background: none;
	color: #000;
	font-weight: 900;
}
.button.white-border {
	border: 2px solid #fff;
	background: none;
	font-weight: 900;
	/*border-radius: 3px;*/
}
.button.white-border:hover {
	background: #fff;
	color: #000;
}


.button.dark {
	border-color: #000;
	color: #000;
}
.button.dark:hover {
	background: #000;
	color: #fff;
}

.button.red{
	
}




.button > .attention {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(178, 54, 54, 1);
	border-radius: 3px;
	-webkit-animation: buttonpulse 1.5s ease-out infinite;
	        animation: buttonpulse 1.5s ease-out infinite;
}

/* @end */




/* @group CONTENT */
.content {
	position: relative;
	height: 100%;
	/*overflow: scroll;*/
}
.content > div {
	/*height: 100%;*/
	/*min-height: 100%;*/
	/*max-width: 720px;*/
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: #fff;
}
.content section {
	max-width: 720px;
	margin: 0 auto;	
	padding: 48px 0;
}


/* @end */




/* @group Header */

header {
	position: absolute;
	width: 100%;
	z-index: 1000000000000000;
	display: block;
	height: 72px;
	/*background: rgba(0,0,0,.5);*/
	/*border-bottom: 1px solid rgba(255,255,255,.25);*/
}
header > div {
	display: block;
	height: 72px;
	max-width: 960px;
	margin: 0 auto;
	/*border-bottom: 1px solid rgba(255,255,255,.15);*/
}


header > div > a {
	float: left;
	max-width: 50%;
	height: 100%;
	position: relative;
	/*display: inline-block;*/
	text-decoration: none;
	height: 72px;
	padding: 0 0 0 50px;
	text-transform: uppercase;
	text-align: center;
	font: 200 18px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}
header > div > a > img {
	position: absolute;
	left: 0px;
	top: 18px;
	height: 36px;
}
header > div > a > span {
	display: block;
	font-size: 12px;
	letter-spacing: 13px;
}
header > div > a > strong {
	display: block;
	letter-spacing: 1px;
	white-space: nowrap;
	border-bottom: 2px solid #fff;
}

header > div > a > p {
	font: 400 16px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	white-space: nowrap;
	color: #fff;
}









header > .menu-button {
	display: none;
}




header > div > nav {
	float: right;
}
header > div > nav > a {
	display: inline-block;
	position: relative;
	margin: 0 12px 0 0;
	font: 400 12px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(0,0,0,.75);
	color: rgba(255,255,255,.75);
	color: #fff;
}
header > div > nav > a:hover {
	color: #eb363d;
}
header > div > nav > a.selected {
	color: #eb363d;
}
header > div > nav > a.selected:before  {
	content: '\00a0';
	position: absolute;
	left: 50%;
	bottom: 18px;
	width: 8px;
	height: 8px;
	margin: 0 0 0 -4px;
	background: #eb363d;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
header > div > nav > a.selected:after  {
	content: '\00a0';
	position: absolute;
	left: 0;
	bottom: 22px;
	width: 100%;
	height: 5px;
	background: #eb363d;
}
header > div > nav > a:last-of-type {
	margin-right: 0;
}

header > div > nav > a.cta {
	padding: 3px 18px;
	border: 2px solid #fff;
	border-radius: 48px;
	line-height: 24px;
}
header > div > nav > a.cta:hover {
	background: #fff;
	color: #000;
}



@media all and (max-width: 960px) {
header {
	left: 0;
	margin: 0;
}
header > div > a {
	margin: 0 0 0 12px;
}
}






@media all and (max-width: 720px) {
header {
	position: fixed;
	z-index: 100000000;
	left: -250px;
	top: 0;
	height: 100%;
	width: 250px;
	padding: 175px 0px 0px 0px;
	background: #402828;
	/*background: #000 url('/images/banners/left-nav.jpg') no-repeat left top;*/
	background-size: cover;
	background-position: center;
	text-align: center;
	/*border-right: 1px solid rgba(255,255,255,.12);*/
	-webkit-transition: all .3s ease-in-out 0s;
	        transition: all .3s ease-in-out 0s;
	
}

header > div {
	display: block;
	width: 100%;
	height: auto;
}

header > div > a {
	float: none;
	width: 100%;
	height: 175px;
	max-width: none;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,.15);
}
header > div > a > img {
	float: none;
	position: relative;
	left: auto;
	right: auto;
	display: inline-block;
	width: 80%;
	height: auto;
	margin: 48px auto 0 auto;
}
header > div > a > h1 {
	font-size: 12px;
}
header > div > a > h1 > span {
	font-size: 24px;
	line-height: 36px;
}




header > .menu-button {
	display: block;
	position: absolute;
	z-index: 10000000000;
	right: -60px;
	top: 12px;
	width: 48px;
	height: 36px;
	cursor: pointer;
}
header > .menu-button > span {
	position: relative;
	display: block;
	background: #fff;
	height: 8px;
	margin: 6px 0;
	border-radius: 3px;
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}






header > div > nav {
	position: relative;
	float: none;
	width: 100%;
	height: auto!important;
	padding: 24px 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
	text-align: left;
}
header > div > nav > a {
	position: relative;
	margin: 0;
	padding: 0 0 0 24px;
	border: 1px solid rgba(0,0,0,0);
	display: block;
	text-decoration: none;
	font:200 18px/48px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	letter-spacing: 1px;
	text-align: left;
}
header > div > nav > a.selected {
	font-weight: 400;
	background: rgba(0,0,0,.25);
}
header > div > nav > a.selected:after {
	top: 0px;
	left: -1px;
	height: 100%;
	width: 4px;
	
}
header > div > nav > a.selected:before {
	bottom: 50%;
	left: -1px;
	margin: 0 0 -4px 0;
}
header > div > nav > a.cta {
	display: inline-block;
	margin: 12px 0 0 24px;
}



header > div > nav > a.snipcart-checkout {
	position: fixed;
	top: 12px;
	right: 12px;
	width: auto;
	font-size: 48px;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5), 0 1px 1px rgba(0,0,0,.5);
}
header > div > nav > a.snipcart-checkout .snipcart-total-items {
	display: none;
	font-size: 18px;
	vertical-align: middle;
}

}

/* @end */







/* @group Header Open */

header.open {
	left: 0;
}
header.open > .menu-button {
	
}
header.open > .menu-button > span {
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;	
}
header.open > .menu-button > span.one {
	top: 14px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
header.open > .menu-button > span.two {
	top: 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
header.open + .content {
	opacity: .25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
}
header.open > .menu-button > span.three {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

/* @end */









/* @group BANNER */
.banner {
	position: relative;
	height: 72%;
	/*max-height: 720px;*/
	min-height: 320px;
	max-height: 1080px;
	overflow: hidden;
	padding: 0px 0;
	background: #26292d;
	background-image: url('/images/banners/workspace.jpg');
	background-position: center center !important;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	box-shadow: 0 100px 50px -50px rgba(0,0,0,.5) inset;
}
.banner.small {
	height: 60%;
}

.banner > .banner-bottom {
	position: absolute;
	z-index: 100000000;
	width: 100%;
	height: auto;
	left: 0;
	bottom: -1;
}

.banner:before {
	content: '\00a0';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.banner.dark:after {
	content: '\00a0';
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,40,40,.5);
	background: rgba(0,0,0,.5);
}


/* @group H Group */
.banner > hgroup {
	position: relative;
	z-index: 1000;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	/*margin: 0 -.25em;*/
	vertical-align: middle;
	white-space: normal;
	text-align: center;
}
.banner > hgroup > img {
	display: block;
	max-width: 150px;
	margin: 0 auto;
}
.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font: 400 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0px;
	/*text-shadow: 0 1px 6px rgba(0,0,0,.5);*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.banner > hgroup > h1 > strong {
	display: block;
	font-weight: 900;
	font-size: 36px;
	letter-spacing: 2;
}
.banner > hgroup > h1.two-tone {
	font: 100 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 4px;
}
.banner > hgroup > h1.two-tone > strong {
	display: block;
	font: 900 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
}

.banner > hgroup > h2 {
	margin: 0 0 36px 0;
	font: 100 24px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,1);
	text-shadow: 0 1px 6px rgba(0,0,0,.5);
	text-transform: capitalize;
}
.banner > hgroup > .button {
	margin: 24px 0 0 0;
}
.banner > hgroup > ul {
	list-style: none;
}
.banner > hgroup > ul > li {
	font: 400 12px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.banner > hgroup > ul > li+li:before {
	content: ':::';
	margin: 0 12px;
}

/* @end */

/* @group H Group - Audience Reports */

.banner.audience-reports {
	
}
.banner.audience-reports > hgroup {
	
}
.banner.audience-reports > hgroup > img {
	max-width: 320px;
}
.banner.audience-reports > hgroup > h1 {
	position: relative;
	bottom: -265px;
	font-size: 20px;
}

/* @end */

@media all and (max-width: 960px) {

.banner {
	/*height: 50%;*/
}
.banner > hgroup > h1 {
	font-size: 3vw;
	line-height: 30px;
	/*color: #f16;*/
}
.banner > hgroup > h1 > strong {
	font-size: 4.5vw;
}

}

@media all and (max-width: 480px) {

.banner {
	height: 50%;
	background-attachment: scroll;
}

.banner > hgroup {
	/*padding: 24px;*/
}
.banner > hgroup > h1 {
	font-size: 5vw;
	line-height: 6vw;
}
.banner > hgroup > h1 > strong {
	font-size: 10vw;
	line-height: 11vw;
}

}

/* @end */





/* @group BG Vid */

video { display: block; }

video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

/* @end */



/* @group Video Block */

#video-block {
	position: relative;
	z-index: 1000000000000000;
	max-width: 720px;
	margin: -150px auto 0 auto;
	padding: 0 0 48px 0;
}
#video-block > img {
	position: absolute;
	z-index: -100;
	left: 0;
	bottom: 24px;
}


@media all and (max-width: 720px) {

#video-block {
	margin: 0px 0 24px 0;
	padding: 24px;
}
#video-block > img {
	left: 24px;
	bottom: 6px;
}

}

/* @end */





/* @group Video Grid */

.video-grid {
	padding: 96px 0 0 0;
	text-align: center;
}
.video-grid > h2 {
	margin: 0 0 48px 0;
}
.video-grid > ul {
	max-width: 960px;
	margin: 0 auto;
	list-style: none;
}
.video-grid > ul > li.video-wrapper {
	display: inline-block;
	width: 48%;
	max-width: 400px!important;
	height: 240px;
	margin: 0 0 4% 0;
	text-align: left;
}
.video-grid > ul > li:nth-of-type(even) {
	margin-left: 3%;
}
.video-grid > ul > li > a {
	position: relative;
	display: block;
	text-decoration: none;
	background: #cb2027;
}
.video-grid > ul > li > a > div {
	position: relative;
	background-size: cover;
	background-position: center;
	text-align: center;
	opacity: 1;
}
.video-grid > ul > li > a > div > img {
	margin: 96px 0;
	width: 48px;
	height: 48px;
}
.video-grid > ul > li > a > hgroup {
	position: absolute;
	z-index: 1000000;
	bottom: 12px;
	left: 2%;
	width: 96%;
	padding: 6px;
	background: none;
	border-bottom: 3px solid #cb2027;
	color: #fff;
}
.video-grid > ul > li > a > hgroup > h3 {
	font: 700 18px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	color: inherit;
}
.video-grid > ul > li > a > hgroup > h4 {
	margin: 0 0 3px 0;
	font:100 12px/12px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: inherit;
}

.video-grid > ul > li:hover > a > div {
	opacity: .96;
}


@media all and (max-width: 1080px) {

.video-grid {
	padding: 24px;
}
.video-grid > ul {
	
}
.video-grid > ul > li {
	
}

}

@media all and (max-width: 720px) {

.video-grid > ul > li {
	width: 100%;
}

}

/* @end */






/* @group Industries */

.industries {
	width: 100%;
	padding: 48px 0;
	background: #cb2027;
	
	white-space: normal;
	text-align: center;
}
.industries > h2 {
	margin: 0 0 24px 0;
	font: 400 24px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	letter-spacing: 0;
}
.industries > ul {
	list-style: none;
}
.industries > ul > li {
	margin: 12px;
	display: inline-block;
	text-align: center;
}
.industries > ul > li > img {
	width: 30px;
}
.industries > ul > li > h3 {
	font: 900 8px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.industries > ul > li.featured > img {
	width: 60px;
}
.industries > ul > li.featured > h3 {
	font: 900 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */













/* @group Customers */

.customers {
	padding: 12px;
	background: #f2f2f2;
	border-top: 1px solid rgba(0,0,0,.75);
	border-bottom: 1px solid #ccc;
}
.customers > ul {
	max-width: 960px;
	height: 72px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style: none;
}
.customers > ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.customers > ul > li+li {
	margin-left: 24px;
	/*border-left: 1px solid #ccc;*/
}
.customers > ul > li > img {
	height: 72px;
	margin: 0;
	padding: 0;
}
.customers > ul > li > h4 {
	
}

/* @end */






/* @group Websites */

.websites {
	padding: 96px 0;
	background: #f2f2f2;
}
.websites > ul {
	max-width: 960px;
	margin: 0 auto;
	list-style: none;
	padding: 24px;
	text-align: center;
}
.websites > ul > li {
	display: inline-block;
	margin: 0 0 48px 0;
	width: 48%;
	vertical-align: top;
}
.websites > ul > li:nth-of-type(even) {
	margin-left: 1.5%;
}
.websites > ul > li > a {
	text-decoration: none;
}
.websites > ul > li > a > div {
	height: 250px;
	background-color: #fff;
	background-size: cover;
	background-position: center top;
	-webkit-transition: background-position 1s ease-in 0s;
	border-radius: 0 0 12px 12px;
	box-shadow: 1.5px 5px 0px -2px rgba(0,0,0,.15);
}
.websites > ul > li > a > div:hover {
	background-position: center bottom;
}
.websites > ul > li > a > h3 {
	margin: 12px 0 0 0;
	font: 200 18px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}




@media all and (max-width: 720px) {
	.websites {
		position: relative;
		margin: 0;
		padding: 0;
	}
	.websites > ul > li {
		display: block;
		width: 100%;
	}
	.websites > ul > li:first-of-type {
		margin: -96px 0 48px 0;
	}
}

/* @end */






/* @group Untitled Scroll CTA */

.scroll-cta {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.scroll-cta > img {
	display: block;
	margin: 0 auto;
}
.scroll-cta > span {
	display: inline-block;
	margin: 12px 0;
	font: 200 8px/10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1;
}

/* @end */














/* @group Main Gallery */

.main-gallery {
	height: 84%;
	/*padding: 72px 0 0 0;*/
	min-height: 320px;
	background: #000;
}
.main-gallery.full {
	height: 100%;
}

.main-gallery .gallery-cell {
	width: 100%;
	height: 100%;
	text-align: center;
	background-position: center!important;
	background-size: cover!important;
	background-repeat: no-repeat;
	background: #91d5d3;
	background: #fff;
	white-space: nowrap;
}
.main-gallery .gallery-cell.first-cell {
	
}
.main-gallery .gallery-cell:before {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	margin: 0 -.25em 0 0;
	vertical-align: middle;
}
.main-gallery .gallery-cell > img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.main-gallery .gallery-cell > hgroup {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 960px;
}
.main-gallery .gallery-cell > hgroup > h1 {
	color: #fff;
	margin: 0 0 24px 0;
	text-shadow: none;
	text-transform: capitalize;
}
/* position dots in gallery */
.main-gallery .flickity-page-dots {
  bottom: 48px;
}
/* white circles */
.main-gallery .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.main-gallery .flickity-page-dots .dot.is-selected {
  background: white;
}


/* big buttons, no circle */
.main-gallery .flickity-prev-next-button {
  width: 48px;
  height: 48px;
  background: transparent;
}
.main-gallery .flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.main-gallery .flickity-prev-next-button .arrow {
  fill: white;
}
.main-gallery .flickity-prev-next-button.no-svg {
  color: white;
}
/* hide disabled button */
.main-gallery .flickity-prev-next-button:disabled {
  display: none;
}



/* Hgroup */
.main-gallery .gallery-cell > hgroup {
	
}
.main-gallery .gallery-cell > hgroup > h1 {
	font: 700 30px/36px Georgia, "Times New Roman", Times, serif;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	letter-spacing: 2px;
}
.main-gallery .gallery-cell > hgroup > .logo {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto 24px auto;
	background-size: cover;
	background-position: center;
	background-color: #ccc;
	border: 6px solid #fff;
	border-radius: 150px;
	overflow: hidden;
}
.main-gallery .gallery-cell > hgroup > .logo > img {
	width: 100%;
}
.main-gallery .gallery-cell > hgroup > .button {
	margin: 0;
}
/* @end */
































/* @group Overlay */
.overlay {
	position: fixed;
	z-index: 100000000000;
	width: 100%;
	height: 100%;
	left: 300%;
	top: 0;
	padding: 48px;
	background: rgba(0,0,0,.75);
	text-align: center;
	white-space: nowrap;
}
.overlay.visible {
	left: 0;
}
.overlay > .close-overlay {
	position: absolute;
	top: 12px;
	right: 12px;
	border: 2px solid #fff;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	text-align: center;
	font: 400 24px/42px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	cursor: pointer;
}
.overlay > .close-overlay:hover {
	background: #fff;
	color: #000;
}
.overlay > .close-overlay:active {
	background: #000;
	color: #fff;
}
.overlay > .video-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	vertical-align: middle;
}
.overlay:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	/*background: red;*/
	vertical-align: middle;
}
.overlay > .video-wrapper > iframe {
	/*top: 0;
	left: 0;
	width: 100%;*/
}
/* @end */






/* @group Quarters */

.quarters {
	max-width: 960px;
	margin: 0 auto;
	padding: 96px 0;
	overflow: hidden;
}
.quarters > section {
	display: inline-block;
	width: 48%;
	margin: 0 0 48px 0;
	padding: 24px;
	text-align: center;
	vertical-align: top;
}
.quarters > section > img {
	width: 48px;
	height: 48px;
	margin: 0 0 36px 0;
}
.quarters > section > h2 {
	margin: 0 0 12px 0;
	font: 700 16px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}
/*.quarters > section > h2:after {
	content: '\00a0';
	display: block;
	width: 48px;
	height: 1px;
	background: #ccc;
	margin: 24px auto;
}*/
.quarters > section > p {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
}


@media all and (max-width: 720px) {

.quarters {
	padding: 24px;
}
.quarters > section {
	float: none;
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0px!;
}
	
}

/* @end */













/* @group Video Control */
.video-controls {
	position: relative;
	display: block!important;
	width: 96px;
	height: 96px;
	margin: 0 auto!important;
	margin: 0 -.25em 0 0;
	cursor: pointer;
	text-align: center;
}
.video-controls > .video-play {
	position: relative;
	display: inline-block;
	box-sizing: content-box;
	width: 96px;
	height: 96px;
	height: 96px;
	font: 500 48px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
	color: #fff;
	border: 5px solid #fff;
	border-radius: 96px;
	cursor: pointer;
	text-align: center;
}
.video-controls > .video-play > .video-cta {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 24px auto 0 auto;
	font: 400 11px/11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,.5);
}
.video-controls > .video-play > i {
	display: inline-block;
	position: relative;
	left: 6px;
	/*top: -3px;*/
	/*background: #f16;*/
	height: 96px;
	line-height: 96px!important;
}
.video-controls > .video-play > .video-button-outline {
	position: absolute;
	box-sizing: content-box;
	border: 2px solid #fff;
	border-radius: 96px;
	-webkit-animation: pulse 1.5s ease-in-out infinite;
	        animation: pulse 1.5s ease-in-out infinite;
}
@-webkit-keyframes pulse {
  0% {
  	top: 0px;
  	left: 0px;
	width: 96px;
	height: 96px;
	opacity: .5;
	filter: alpha(opacity=50);
  }
  100% {
  	top: -32px;
  	left: -32px;
    width: 150px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes pulse {
  0% {
  	top: 0px;
  	left: 0px;
	width: 96px;
	height: 96px;
	opacity: .5;
	filter: alpha(opacity=50);
  }
  100% {
  	top: -32px;
  	left: -32px;
    width: 150px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}



.video-controls:hover > .video-play {
	/*width: 120px;
	height: 120px;*/
	background: #fff;
	color: #000;
	/*font: 900 84px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
}
.video-controls:active > .video-play {
	background: #000;
	color: #fff;
}


/* @end */





/* @group Simple List */

.simple-list {
	
}
.simple-list > ul {
	max-width: 540px;
	margin: 0 auto;
	list-style: none;
	padding-left: 36px;
}
.simple-list > ul > li {
	position: relative;
	margin: 0 0 24px 0;
}
.simple-list > ul > li:before {
	content: '\00a0';
	display: inline-block;
	position: absolute;
	top: 4px;
	left: -30px;
	width: 24px;
	height: 24px;
	background-image: url('/images/icons/check.svg');
	vertical-align: middle;
}

/* @end */






/* @group Guarantee */

.guarantee {
	padding: 96px 24px 0 24px;
	text-align: center;
}
.guarantee > hgroup {
	max-width: 480px;
	margin: 0 auto;
	padding: 36px;
	border: 5px solid #000;
	border-radius: 12px;
}
.guarantee > hgroup > h2 {
	font: 400 48px/60px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
}
.guarantee > hgroup > p {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.guarantee > h1 {
	
}

/* @end */






/* @group Dev Tiers */

.dev-tiers {
	padding: 96px 0 48px 0;
	text-align: center;
}
.dev-tiers > section {
	width: 100%;
	vertical-align: top;
}
.dev-tiers > section > h2 {
	
}
.dev-tiers > section > p {
	margin: 0 0 24px 0;
	padding: 12px 48px;
	line-height: 24px;
	
}
.dev-tiers > section > ul {
	margin: 0 0 24px 0;
	column-count: 3;
	list-style: none;
}

.dev-tiers > section > ul > li {
	font: 200 16px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	text-align: left;
}
.dev-tiers > section > ul > li:before {
	content: '\00a0';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -3px 6px 0 0;
	background-image: url('/images/icons/check.svg');
	background-size: cover;
	vertical-align: middle;
}
.dev-tiers > section > div {
	position: relative;
	display: inline-block;
	margin: 36px 0 18px 0;
	padding: 36px 72px;
	border: 3px solid #f2f2f2;
	border-radius: 3px;
}
.dev-tiers > section > div > .icon {
	position: absolute;
	top: -30px;
	left: 50%;
	display: block;
	width: 60px;
	margin: 0 0 0 -30px;
	padding: 12px;
	background: #fff;
	border: 3px solid #f2f2f2;
	border-radius: 96px;
}
.dev-tiers > section > div > .icon > img {
	width: 100%;
}
.dev-tiers > section > div > h3 {
	font: 900 60px/60px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	color: #5db436;
	letter-spacing: 6;
}
.dev-tiers > section > div > h3.on-sale {
	font: 100 30px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	text-decoration: line-through;
}
.dev-tiers > section > div > h4 {
	margin: 12px 0 24px 0;
	font: 200 14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}
.dev-tiers > section > div > h5 {
	margin: 0 0 12px 0;
	font: 900 16px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	text-transform: uppercase;
}
.dev-tiers > section > div > .button {
	padding: 6px 24px;
	font-size: 12px;
}




@media all and (max-width: 720px) {

.dev-tiers {
	padding: 24px;
}
.dev-tiers > section {
	
}
.dev-tiers > section {
	margin: 48px 0;
}
.dev-tiers > section > ul {
	column-count: 2;
}
.dev-tiers > section > ul > li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.dev-tiers > section > h2 {
	line-height: 36px;
	margin: 0 0 24px 0;
}
.dev-tiers > section > h2 > strong {
	display: block;
}
.dev-tiers > section > div {
	
}

}

/* @end */






/* @group Price Box */

.price-box {
	padding: 96px 0 0 0;
	text-align: center;
}
.price-box > section {
	position: relative;
	display: inline-block;
	margin: 36px auto 18px auto;
	padding: 36px 72px;
	border: 3px solid #f2f2f2;
	border-radius: 3px;
}
.price-box > section > .icon {
	position: absolute;
	top: -30px;
	left: 50%;
	display: block;
	width: 60px;
	margin: 0 0 0 -30px;
	padding: 12px;
	background: #fff;
	border: 3px solid #f2f2f2;
	border-radius: 96px;
}
.price-box > section > .icon > img {
	width: 100%;
}
.price-box > section > h3 {
	font: 900 60px/60px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	color: #5db436;
	letter-spacing: 6;
}
.price-box > section > h3.on-sale {
	font: 100 30px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	text-decoration: line-through;
}
.price-box > section > h4 {
	margin: 12px 0 24px 0;
	font: 200 14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.price-box > section > h5 {
	margin: 0 0 12px 0;
	font: 900 16px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	text-transform: uppercase;
}
.price-box > section > .button {
	padding: 6px 24px;
	font-size: 12px;
}
.price-box > section > h3+.button {
	margin-top: 24px;
}

/* @end */






/* @group Price Tiers */

.price-tiers {
	padding: 48px 24px;
	text-align: center;
}
.price-tiers > h1 {
	
}
.price-tiers > h2 {
	
}
.price-tiers > h3 {
	margin: 0 0 48px 0;
}
.price-tiers > section {
	position: relative;
	display: inline-block;
	width: 320px;
	margin: 0 0 96px 0;
	padding: 0!important;
	border: 1px solid #cb2027;
	vertical-align: top;
}
.price-tiers > section > h2 {
	padding: 36px 12px;
	/*border-bottom: 1px solid #ccc;*/
	font: 900 24px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	background: #cb2027;
}
.price-tiers > section > .image {
	position: absolute;
	left: 50%;
	top: -24px;
	width: 48px;
	height: 48px;
	margin: 0 0 0 -24px;
	padding: 6px;
	border: 3px solid #cb2027;
	border-radius: 100px;
	background: #fff;
	box-shadow: 0 0 0 5px #fff;
}
.price-tiers > section > .image > img {
	width: 100%;
	height: 100%;
}

.price-tiers > section > p {
	width: 90%;
	margin: 5%;
	padding: 24px 12px;
	font: 400 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	border: 1px solid #ccc;
	
}
.price-tiers > section > span {
	display: inline;
	position: relative;
	top: -28px;
	padding: 12px;
	font: 200 11px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	border: none;
	background: #fff;
	text-transform: uppercase;
}
.price-tiers > section > ul {
	display: inline-block;
	padding: 24px;
	text-align: left;
	list-style: none;
}
/*.price-tiers > section > ul:before {
	content: 'Includes';
	display: block;
	font: 700 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}*/
.price-tiers > section > ul > li {
	font: 200 16px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
}
.price-tiers > section > ul > li:before {
	content: '\00a0';
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -3px 6px 0 0;
	background-image: url('/images/icons/check.png');
	background-size: cover;
	vertical-align: middle;
}
.price-tiers > section > h3 {
	padding: 24px 0 36px 0;
	font: 900 36px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 4px;
}
.price-tiers > section > h3:before {
	content: 'Starting At';
	display: block;
	font: 200 12px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.price-tiers > section > h3 > i {
	font-weight: 200;
	font-size: 14px;
	vertical-align: middle;
	letter-spacing: 1;
}
.price-tiers > section > a {
	display: inline-block;
	margin: -12px 0 24px 0;
	text-align: center;
	font: 200 14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.price-tiers > section > a > img {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}




.price-tiers > section:last-of-type {
	border-color: #000;
}
.price-tiers > section:last-of-type > h2 {
	background: #000;
}
.price-tiers > section:last-of-type > .image {
	border-color: #000;
}
.price-tiers > section:last-of-type > h3 {
	color: #000;
}


.price-tiers > section:first-of-type {
	border-color: #000;
}
.price-tiers > section:first-of-type > h2 {
	background: #000;
}
.price-tiers > section:first-of-type > .image {
	border-color: #000;
}
.price-tiers > section:first-of-type > h3 {
	color: #000;
}




@media all and (max-width: 540px) {

.price-tiers > section {
	width: 100%;
}

}
/* @end */




/* @group Filming Price */

.filming-prices {
	text-align: center;
	max-width: 720px;
	margin: 48px auto;
	padding: 0 2px;
}
.filming-prices > h2 {
	margin: 0 0 48px 0;
}
.filming-prices > section {
	float: left;
	width: 32%;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 24px;
}
.filming-prices > section > img {
	width: 48px;
	border-radius: 24px;
	margin: -48px 0 24px 0;
	padding: 12px;
	border: 1px solid #ccc;
	background: #fff;
}
.filming-prices > section+section {
	margin-left: 2%;
}
.filming-prices > section > h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 24px;
	margin-bottom: 24px;
	font: 900 24px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}
.filming-prices > section > h2 {
	
}
.filming-prices > section > h4 {
	font: 400 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
	text-transform: uppercase;
	color: #999;
}
.filming-prices > p {
	padding: 12px 0 0 0;
	text-align: center;
	clear: both;
}


@media all and (max-width: 480px) {


.filming-prices > section {
	padding: 24px 6px;
}
.filming-prices > section > img {
	margin: -48px 0 12px 0;
}
.filming-prices > section > h2 {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0;
}
.filming-prices > section > h2 > span {
	font-weight: 200;
	font-size: 14px;
	text-transform: capitalize;
}
.filming-prices > section > h3 {
	font-size: 12px;
	margin: 0;
	padding: 3px;
}
.filming-prices > section > h4 {
	font-size: 10px;
}

}

/* @end */






/* @group Production Price */

.production_price {
	padding: 96px 24px;
	text-align: center;
	background: #f2f2f2;
}

.production_price > article {
	max-width: 480px;
	margin: 24px auto;
	padding: 24px;
	text-align: center;
	background: #fff;
}
.production_price > article > h4 {
	font: 400 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	color: #666;
}
.production_price > article > h3 {
	position: relative;
	margin: 0 0 48px 0;
	padding: 0 0 48px;
	border-bottom: 1px solid #ccc;
	font: bold 48px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.production_price > article > h3:after {
	content: 'Notice';
	display: block;
	width: 84px;
	/*position: absolute;*/
	margin: 24px auto -64px auto;
	padding: 6px;
	border: 1px solid #ccc;
	background: #fff;
	font: 200 18px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	
}
.production_price > article > p {
	font: 400 16px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.production_price > article > ul {
	text-align: left;
}
.production_price > article > ul > li {
	margin: 0 0 12px 0;
	font: 200 15px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */






/* @group ALTERNATING */
.alternating {
	padding: 0;
}
.alternating > h2 {
	text-align: center;
	margin: 96px 0 0 0;
}
.alternating > div {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 150px 0;
}
.alternating > div:first-of-type {
	
}



.alternating > div > img {
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	margin: 0 0 0 48px;
}

.alternating > div > hgroup {
	padding: 0 50% 0 24px;
}
.alternating > div > hgroup > h1 {
	margin: 0 0 24px 0;
}
.alternating > div > hgroup > h1 > i {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 16px;
	vertical-align: middle;
}
.alternating > div > hgroup > article {
	padding: 0;
}
.alternating > div > hgroup > article > h1 {
	
}
.alternating > div > hgroup > article > h2 {
	margin: 0 0 24px;
}
.alternating > div > hgroup > article > p {
	margin: 0 0 12px 0;
	line-height: 30px;
}
.alternating > div > hgroup > article > ul {
	
}
.alternating > div > hgroup > article > ul li {
	margin: 0 0 12px;
	font: 200 16px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}
.alternating > div > hgroup > article > ul > li > ul {
	padding: 0 0 0 24px;
}
/*.alternating > div > hgroup > article ul > li:before {
	content: '\00a0';
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -3px 6px 0 0;
	background-image: url('/images/icons/check.png');
	background-size: cover;
	vertical-align: middle;
}*/


.alternating > div > hgroup > .special-info {
	display: none;
	/*float: left;*/
	list-style: none;
	border: 1px dashed #ccc;
	border-radius: 3px;
	padding: 12px 24px;
}
.alternating > div > hgroup > .special-info > li {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.alternating > div > hgroup > .special-info > li+li {
	margin: 6px 0 0 0;
}
.alternating > div > hgroup > .special-info > li:before {
	content: attr(title);
	display: block;
	font: 900 10px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}




.alternating > div > hgroup > .videos {
	list-style: none;
	padding:0;
}
.alternating > div > hgroup > ul.videos > li.video-wrapper {
	display: inline-block;
	width: 48%;
	margin: 0 0 12px 0;
	background: #000;
	overflow: hidden;
}
.alternating > div > hgroup > .videos > li > * {
	height: auto!important;
}




.alternating > div:nth-of-type(even) {
	background: linear-gradient(to right, white 0%, #eceaea 50%, white 100%) #f2f2f2;
	
}
.alternating > div:nth-of-type(even) > img {
	height: 110%;
	top: -5%;
}

.alternating > div:nth-of-type(even) > hgroup {
	padding: 0 24px 0 50%;
}
.alternating > div:nth-of-type(even) > img  {
	left: auto;
	right: 50%;
	margin: 0px 48px 0 0;
}
.alternating > div:nth-of-type(even) > h2 {
	float: right;
}
.alternating > div:nth-of-type(even) > p {
	float: right;
	clear: right;
}




.alternating > section {
	position: relative;
	max-width: none;
	text-align: center;
	padding: 100px 96px;
	background-color: #fff!important;
	background-attachment: fixed!important;
	background-size: cover!important;
}
.alternating > section > h4 {
	position: relative;
	z-index: 1000000;
	max-width: 720px;
	margin: 0 auto;
	font: 100 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
	letter-spacing: 2px;
}






/* @group Websites + Videos */
.alternating > div > hgroup > ul.media {
	overflow: hidden;
	list-style: none;
	padding: 12px 0;
}
.alternating > div > hgroup > ul.media > li {
	float: left;
	width: 32%;
	height: 120px;
	opacity: .5;
}
.alternating > div > hgroup > ul.media > li:hover {
	opacity: 1;
}
.alternating > div > hgroup > ul.media > li:nth-of-type(2){
	margin: 0 2%;
}
.alternating > div > hgroup > ul.media > li > a {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	text-decoration: none;
}
.alternating > div > hgroup > ul.media > li > a > i {
	font-size: 24px;
	line-height: 120px;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
/* @end */





@media all and (max-width: 960px) {

.alternating {
	padding: 48px;
}
.alternating > h2 {
	margin: 0;
}
.alternating > div {
	padding: 96px 0 48px 0;
	text-align: center;
}
.alternating > div:first-of-type {
	margin-top: 0;
}
.alternating > div > hgroup {
	position: static;
	margin: 0;
	padding: 24px!important;
	text-align: center;
}
.alternating > div > hgroup:before {
	content: '\00a0';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0px;
	width: 100%;
	height: 96px;
	background: linear-gradient(to bottom, rgba(38,40,40,0) 0%, rgba(38,40,40,100) 100%);
}
.alternating > div > hgroup > h2 {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	margin: 0;
	letter-spacing: 0;
	font-size: 24px;
	letter-spacing: 1px;
}
.alternating > div > hgroup > p {
	margin: 0;
}
.alternating > div > hgroup > .button {
	margin: 24px 0 0 0;
}
.alternating > div:first-of-type {
	
}
.alternating > div > img  {
	position: relative;
	left: auto;
	top: 0;
	margin: 24px 0 0 0;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 320px;
}
.alternating > div:nth-of-type(even) {
	padding: 96px 0 48px 0;
}
.alternating > div:nth-of-type(even) > img {
	top: 0;
	right: auto;
	height: auto;
	margin: 24px 0 0 0;
}
.alternating > div > hgroup > article > ul {
	text-align: left;
}
}



@media all and (max-width: 480px) {

.alternating > div > hgroup > h2 {
	
}
.alternating > div > hgroup > article > p {
	font: 200 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

}


/* @end */









/* @group Conversions */

.conversions {
	text-align: center;
	padding: 96px 0;
	/*background: #f2f2f2;*/
}
.conversions > h2 {
	margin: 0 0 48px 0;
	font: 200 36px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.conversions input {
	box-sizing: border-box;
	width: 60px;
	padding: 0 6px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font: 900 12px/28px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	appearance: none !important;
	-webkit-appearance: none !important;
	-moz-appearance:textfield !important;
}



.conversions > ul {
	white-space: nowrap;
}
.conversions > ul > li {
	display: inline-block;
	vertical-align: middle;
	width: 96px;
	margin: 0;
}


/* bar */
.conversions > ul > li > div {
	position: relative;
	
	height: 200px;
	width: 36px;
	margin: 0 auto;
	background: #f2f2f2;
	border-top: 48px solid #f2f2f2;
}
.conversions > ul > li > div > span {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: inline-block;
	background: #2488d3;
	transition: height 1s ease-out 0s;
}
.conversions > ul > li > div > span > h5 {
	position: absolute;
	top: -12px;
	width: 100%;
	text-align: center;
	font: 200 10px/10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
}

/* Icons + Titles */
.conversions > ul > li > img {
	position: relative;
	top: -6px;
	display: block;
	margin: 0 auto;
	padding: 3px;
	width: 60px;
	border: 3px solid #000;
	border-radius: 96px;
	background: #fff;
}
.conversions > ul > li > hgroup {
	display: inline-block;
}
.conversions > ul > li > hgroup > h3 {
	width: 100%;
	font: 900 12px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 1px;
}
.conversions > ul > li > hgroup > h4 {
	width: 100%;
	font: 200 24px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Special Treatment */
.conversions > ul > li:first-of-type {
	/*margin: 0;*/
}
.conversions > ul > li:first-of-type > div {
	border-top: none;
}
.conversions > ul > li:first-of-type > div::after {
	content: '\00a0';
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	height: 24px;

	background-image: url(/images/icons/jagged.svg);
	background-size: cover;
}
.conversions > ul > li:first-of-type > div > span > h5 {
	padding: 0 0 6px 0;
}



/* Conversion Inputs */
.conversions > ul > div {
	position: relative;
	z-index: 100000000;
	display: inline-block;
	vertical-align: middle;
	margin: -48px -10px 0 -24px;
	padding: 3px 0;
	background: #000;
	color: #fff;
	white-space: nowrap;
}
.conversions > ul > div:after {
	content: '\00a0';
	position: absolute;
	top: 5px;
	right: -12px;
	width: 26px;
	height: 26px;
	transform: rotate(45deg);
	background: #000;
}
.conversions > ul > div > label {
	position: relative;
	z-index: 100;
	left: 3px;
	display: block;
	height: 30px;
	padding: 0 6px;
	
	background: #fff;
	color: #000;
	border-radius: 0 16px 16px 0;
}
.conversions > ul > div > label > input {
	position: relative;
	z-index: 10000;
	height: 30px;
	width: 42px;
	padding: 0;
	background: none;
	border: none;
	color: #000;
	outline: none;
	vertical-align: top;
	line-height: 30px;
	text-align: center;
}
.conversions > ul > div > label > span {
	position: absolute;
	z-index: 10000;
	top: 0;
	right: 9px;
	display: inline-block;
	margin: 0;
	height: 30px;
	vertical-align: top;
	font: 100 14px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.conversions > ul > div > label:hover > span {
	display: none;
}
.conversions > ul > div > h3 {
	display: none;
	position: absolute;
	top: -24px;
	width: 100%;
	font: 900 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}
.conversions > ul > div > h4 {
	width: 100%;
	font: 100 16px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



/* Dollars */
.conversions > section {
	
}
.conversions > section > label {
	display: inline-block;
	position: relative;
	width: 33%;
	max-width: 120px;
	white-space: nowrap;
}
.conversions > section > label > h3 {
	width: 100%;
	font: 900 8px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
	white-space: normal;
	text-transform: uppercase;
	/*background: #f16;*/
}
.conversions > section > label > span {
	position: absolute;
	left: 9;
	font: 100 12px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.conversions > section > label > input {
	width: 100%;
	padding: 0 0 0 12px;
}
.conversions > section > div {
	margin: 48px 0 0 0;
}
.conversions > section > div > h2 {
	
}
.conversions > section > div > h3 {
	font: 900 48px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4ea426;	
	letter-spacing: 2px;
}
.conversions > section > div > h3:before {
	content: attr(data-char); 
}



@media all and (max-width: 480px) {

.conversions > ul > li {
	/*width: 84px;*/
}
.conversions > ul > li > img {
	width: 48px;
	top: -9px;
}
.conversions > ul > li > hgroup {
	
}
.conversions > ul > li > hgroup > h3 {
	font: 200 11px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.conversions > ul > li > hgroup > h4 {
	font: 900 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


.conversions > ul > div {
	position: relative;
	z-index: 10000000;
	margin: 0px -30px 0 -48px;
}
.conversions > ul > div:nth-of-type(1) {
	top: -84px;
}
.conversions > ul > div:nth-of-type(2) {
	top: -42px;
}
}



@media all and (max-width: 320px) {

.conversions > ul > li {
	width: 72px;
}

}

@media all and (max-width: 240px) {

.conversions > ul > li {
	width: 60px;
}

}
/* @end */



















/* @group Blog Posts */
.blogposts {
	max-width: 800px;
	margin: 0 auto;
	padding: 96px 0px;
	list-style: none;
	text-align: left;
}
.blogposts > li {
	display: inline-block;
	max-width: 48%;
	margin: 0 -.25em 4% 0;
	background: #fff;
	/*border: 1px solid #ccc;*/
	border-top: none;
	vertical-align: top;
}
.blogposts > li:nth-last-of-type(even) {
	margin-left: 4%;
}
.blogposts > li > a {
	display: block;
	padding: 24px;
	text-decoration: none;
}
.blogposts > li > a > .postbanner {
	height: 150px;
	margin: -24px -24px 24px -24px;
	background-color: #000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.blogposts > li > a > h2 {
	margin: 0 0 12px;
	font: 900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
}
.blogposts > li > a > h2:after {
	content: '\00a0';
	display: block;
	width: 24px;
	height: 2px;
	margin: 12px 0 0 0;
	background: #d75151;
}
.blogposts > li > a > p {
	/*height: 96px;*/
	padding: 0;
	overflow: hidden;
	font: 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
	text-overflow: ellipsis;
}
.blogposts > li > a > .button {
	margin: 12px 0 0 0;
	padding: 3px 12px;
	font: 900 11px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
}
/* @end */











/* @group Gallery */

.content .gallery {
	text-align: center;
	overflow: hidden;
	padding: 48px 0 0 0;
	/*margin: 0 auto;*/
}
.gallery > a {
	display: inline-block;
	float: left;
	width: 33.333333%;
	height: 240px;
	/*margin: 0 -.25em 0 0;*/
	background-size: cover;
	background-position: center;
}

/* @end */
























































/* @group Signup */

.signup {
	padding: 24px 0 96px 0;
	text-align: center;
}
.signup > div > div {
	display: inline-block;
	/*margin: 0 -.25em 0 0;*/
	vertical-align: top;
}
.signup > div > .mc-field-group {
	position: relative;
	white-space: nowrap;
	border: 1px solid #ccc;
	/*border-right: none;*/
}
.signup > div > .mc-field-group > label {
	position: absolute;
	left: 12px;
	height: 48px;
	font:900 12px/53px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.signup > div > .mc-field-group > label:after {
	content: ':';
}
.signup > div > .mc-field-group > input {
	width: 250px;
	height: 50px;
	padding-left: 60px;
	font: 400 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.signup > div > .clear {
	height: 50px;
}
.signup > div > .clear > .button {
	display: inline-block;
	height: 50px;
	padding: 10px 24px;
	font: 200 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */






/* @group Contact */

.contact {
	max-width: 320px!important;
	padding: 48px 0!important;
	overflow: hidden;
}
.contact > p {
	/*float: left;
	width: 50%;
	border: 1px solid #ccc;
	padding: 12px;*/
	margin: 0 0 30px 0;
	font: 400 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	/*white-space: nowrap;*/
	text-align: left;
	letter-spacing: 1px;
}
.contact > p:last-of-type {
	margin: 0;
}
.contact > p > span:before {
	content: attr(title);
	/*padding: 0 0 0 36px;*/
	font: 200 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	text-align: left;
	letter-spacing: 1px;
}
.contact > p > span {
	display: inline-block;
	vertical-align: middle;
}
.contact > p > i {
	/*display: none;*/
	width: 24px;
	margin: 0 12px 0 0;
	padding: 3px 0px;
	text-align: left;
}

/* @end */






/* @group Contact Form */

.contact-form {
	
	text-align: center;
	padding: 0px;
	background: #f2f2f2;
}
.contact-form > h2 {
	margin: 0 0 24px;
	font: 200 32px/36px 'Black Ops One', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: Uppercase;
	letter-spacing: 2px;
}
.contact-form > form {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
}
.contact-form > form > label {
	position: relative;
	display: block;
	margin: 0 0 12px 0;
	text-align: left;
	border: 1px solid #ccc;
}
.contact-form > form > label > img {
	position: absolute;
	left: 6px;
	top: 6px;
	width: 24px;
	height: 24px;
}
.contact-form > form > label > span {
	position: absolute;
	display: inline-block;
	padding: 0 12px;
	font: 400 15px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: none;
}
.contact-form > form > label > span > i {
	margin: 0 12px 0 0;
}
.contact-form > form > label > input{
	padding: 0 0 0 42px;
	border: none;
	width: 100%;
	height: 36px;
	border: none;
	background: rgba(255,255,255,.5);
	font: 400 16px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
}
.contact-form > form > label > textarea {
	display: inline-block;
	width: 100%;
	height: 150px;
	padding: 36px 12px 12px 12px;
	border: none;
	outline: none;
	box-shadow: none;
	background: rgba(255,255,255,.5);
	vertical-align: top;
	font: 200 16px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.contact-form > form > .g-recaptcha {
	text-align: center;
	margin: 0 0 24px 0;
}
.contact-form > form > .g-recaptcha > div {
	display: inline-block;
	width: auto!important;
}
/* @end */






/* @group Map Address */

.map-address {
	padding-top: 150px!important;
	text-align: center;
}
.map-address > p {
	font: 200 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.map-address > p > strong {
	font: 700 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group Map */
#map {
	position: relative;
    height:72%;
    width: 100%;
}
.gm-style-iw * {
    display: block;
    /*width: 100%;*/
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
/* @end */






/* @group Reach */

#reach.alternating {
	padding: 96px 0;
}
#reach.alternating > div {
	padding: 0;
}
#reach.alternating > div > img {
	/*height: auto;*/
	/*max-height: 320px;*/
	top: 0px;
	margin: 0;
	vertical-align: middle;
}

/* @end */













/* @group Demographics */

#demographics {
	padding: 96px 24px;
	background: #e9ebee;
	text-align: center;
}
#demographics > img {
	width: 100%;
	max-width: 800px;
}

/* @end */






/* @group Footer */

.footer {
	padding: 96px;
	background: #402828;
	background: #000;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
}
.footer > section {
	text-align: center;
}


.footer > section > a {
	display: block;
	margin: 0 auto 24px auto;
	max-width: 150px;
	text-decoration: none;
}

.footer > section > a > img {
	
}


.footer > section > .social {
	margin: 0 0 24px 0;
}
.footer > section > .social > a {
	text-decoration: none;
	font-size: 24px;
	color: inherit;
	margin: 0 12px;
}
.footer > section > .social > a:hover {
	color: #e71d25;
}


.footer > section > nav {
	
}
.footer > section > nav > a {
	margin: 0 9px;
	text-decoration: none;
	color: inherit;
}
.footer > section > nav > a:hover {
	color: #e71d25;
}



.footer > section > .copyright {
	margin: 0 0 24px 0;
	font: 200 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	color: rgba(255,255,255,.5);
}



.footer > section > .contact {
	display: none;
}
.footer > section > .contact > p {
	font:200  14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


@media all and (max-width:480px) {
	footer.footer {
		padding: 12px;
	}
}
/* @end */




/* @group FAQ */

.faq {
	text-align: center;
	padding: 96px 24px 0 24px;
}
.faq > ul {
	list-style: none;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 24px;
}
.faq > ul > li {
	text-align: center;
}
.faq > ul > li+li {
	margin: 72px 0 0 0;
}
.faq > ul > li > h4 {
	margin: 0 0 12px 0;
	font: 400 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
}
.faq > ul > li > h4:before {
	content: 'Q';
	/*background: #992f3a;*/
	width: 18px;
	margin: 0 6px 0 0;
	padding: 2px 6px;
	border: 3px solid #992f3a;
	border-radius: 3px;
	font: 900 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #992f3a;
	text-align: center;
}
.faq > ul > li > article {
	padding: 0;
}

/* @end */






/* @group Quote */

.quote {
	text-align: center;
}

/* @end */






/* @group we-love-wineries */

.we-love-wineries {
	padding: 48px 12px;
	text-align: center;	
	background: #cb2027;
}
.we-love-wineries > section > img {
	max-width: 480px;
	margin: 0 0 24px 0;
}
.we-love-wineries > section > h2 > strong {
	display: block;
	font-size: 24px;
}
.we-love-wineries > section > h3 {
	margin: 0 0 12px 0;
	color: #fff;
	text-transform: uppercase;
	font: 400 18px/24px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	/*letter-spacing: 5px;*/
	opacity: .5;
}
.we-love-wineries > section > .button {
	border-color: #fff;
	letter-spacing: 0;
	font-weight: 900;
	font-size: 16px;
}

@media all and (max-width:480px) {

.we-love-wineries > section > .button {
	font-size: 12px;
}

}

/* @end */






/* @group Webinar Form */

.webinar-form {
	text-align: center;
	
}
.webinar-form > section {
	max-width: 480px;
	margin: 0 auto;
	padding: 36px;
}
.webinar-form > section > h2 {
	margin: 0 0 12px 0;
	font: 900 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}
.webinar-form > section > h3 {
	margin: 0 0 48px 0;
	font: 400 20px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
	color: #666;
}

/* @end */






/* @group Snapchat Overlay */

.snapchat-overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000000000000000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.84)!important;
	cursor: pointer;
}
.snapchat-overlay.visible {
	display: block;
}
.snapchat-overlay:before {
	content: 'X';
	position: absolute;
	display: inline-block;
	width: 48px;
	height: 48px;
	top: 12px;
	right: 12px;
	font: 200 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}
.snapchat-overlay > img {
	position: relative;
	display: block;
	top: 50%;
	width: 240px;
	margin: -120px auto 0 auto;
}
/* @end */






/* @group Sections */

.sections {
	padding: 24px;
}
.sections > ul {
	list-style: none;
}
.sections > ul > li {
	text-align: center;
	max-width: 540px;
	margin:  0 auto;
	padding: 48px 0;
}
.sections > ul > li > .icon {
	display: inline-block;
	width: 96px;
	height: 96px;
	margin: 0 0 12px 0;
	padding: 24px;
	border: 3px solid #000;
	border-radius: 96px;
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #cb2027 ;
}
.sections > ul > li > h4 {
	font: 900 18px/24px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
}
.sections > ul > li > h4:after {
	content: '\00a0';
	display: block;
	width: 48px;
	height: 2px;
	margin: 12px auto;
	background: #cb2027;
}
.sections > ul > li > article {
	margin: 0 auto;
	padding: 0;
}
.sections > ul > li > article > p:last-of-type {
	margin: 0;
}
.sections > ul > li > .button {
	margin: 12px 0 0 0;
}

/* @end */



