---
layout: default
permalink: /wineries/videos/ellie/
banner_headline: <strong>Ms. Ellie Video</strong>
banner_logo_image:
banner_background_image: /images/banners/ellie.jpg
banner_video_path: 
banner_button_link: '#video-grid'
banner_button_text: See A Few Examples
videos:
  - youtube_id: 'pNFgfHfQdBE'
  - youtube_id: 'P2ADe07aeWg'
frequently-asked-questions:
  - question: What is a “Ms. Ellie Video”?
    answer_markdown: >-
      A “Ms. Ellie video” is a simple ad showing Ms. Ellie opening, pouring, drinking and describing a bottle of wine. It’s
      usually about a minute long and finishes with a clear call to action (visit the winery/tasting room).
  - question: What can you do with it / What is it used for?
    answer_markdown: >-
      These videos are primarily designed to be used as Facebook ads to
      highlight your favorite bottles, attract new customers to your tasting
      room or they can simply be posted to your social media accounts or on your website.
  - question: How much does it normally cost?
    answer_markdown: We usually produce these for about $500.
  - question: What wine should I feature?
    answer_markdown: >-
      Even though there is no talking in these videos we like wines that have an
      interesting story behind them or really cool labels. Of course we do end
      up drinking the wine after the video is complete so we won’t complain if
      you just send us your best tasting bottle either. ;)
  - question: What usage rights do I have?
    answer_markdown: >-
      You get full rights to the video. We retain rights to use or sell any footage that doesn't display your brand and ask that we can use your video as an example of work we do... but that last one is certainly optional.
  - question: What do I need to do next?
    answer_markdown: >-
      Press the buy now button below, enter your payment details then choose the bottle you would like to be featured & ship it to:


      True Take Media<br>10 North Central St.<br>Colorado City AZ, 86021


      We will produce the ad and email it back to you, usually within a week or two of
      receiving the bottle.
---

{% include banner.html %}

<!--<ul class="video-grid">
	{% for video in page.videos %}
	<li class="video-wrapper">
		<iframe width="50" height="96" src="https://www.youtube.com/embed/{{ video.youtube_id }}?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</li>
	{% endfor %}
</ul>-->
{% assign videos = page.videos %}
{% include video-list.html %}

{% include faq.html %}


<div class="price-box">
	<h2>Purchase A Ms. Ellie Video</h2>
	<section>
		<span class="icon">
			<img src="/images/icons/film-strip.svg" alt="" />
		</span>
		<h3 class="on-sale">$500</h3>
		<h3>$350</h3>
		<!--<h4>+ $25/Month <i>for Hosting</i></h4>-->
		<a href="https://waveapps.com/n5xhkn-vknkz2" class="button">Buy Now</a>
	</section>
</div>


