---
layout: default
title: Home
banner_path:
---
<div class="banner home">
	<hgroup>
		<!--<img src="/images/logos/logo.png" alt="" class="animate-down"/>-->
		<h1 class="animate-right">We Help Small Companies Grow Their Business Online</h1>
		<!--<a href="/apply/" class="button white-border animate-up-slow">Apply</a>-->
	</hgroup>
	
	<ul class="industries">
		{% for industry in site.industries %}
			<li>
				<img src="{{ industry.icon_path }}" alt="" />
				<h4>{{ industry.title }}</h4>
			</li>
		{% endfor %}
	</ul>
	<!--<div class="service-overview">
		<a href="#video-production">
			<i class="fa fa-film" aria-hidden="true"></i>
			<h3>Video Production</h3>
		</a>
		<a href="#web-developement">
			<i class="fa fa-desktop" aria-hidden="true"></i>
			<h3> Web Development</h3>
		</a>
		<a href="#digital-advertising">
			<i class="fa fa-thumbs-up" aria-hidden="true"></i>
			<h3>Digital Advertising</h3>
		</a>
	</div>-->
</div>

<div class="customers">
	<ul>
		{% for customer in site.customers %}
		<li>
			<img src="{{ customer.logo_path }}" alt="" />
			<h4>{{ customer.title }}</h4>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="alternating">
	<section>
		<h4 class="editable">“We're not here to re-engineer your brand (your company already has one). It’s our job to tell your story and show the world what makes you special.”</h4>
	</section>
	
	<div id="video-production">
		<img src="/images/home/video-production.jpg" alt=""/>
		<hgroup class="animate-right">
			<h2 class="editable">Video Production</h2>
			<p class="editable">Have an interesting story to tell? A video is the perfect medium and just so happens to be our specialty. </p>
			<ul id="videos" class="media">
				{% assign casestudyvideos = site.customers | where:"video",true %}
				{% for video in casestudyvideos limit: 3%}
					<li>
						<a href="{{ video.video-url }}" style="background-image: url('{{ video.video-thumbnail_path }}');" target="_blank">
							<i class="fa fa-play" aria-hidden="true"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</hgroup>
	</div>
	
	<section>
		<h4 class="editable">“A website isn't particularly useful by itself. We help you create an online presence that will actually generate new business for you in the real world. ”</h4>
	</section>
	
	<div id="web-developement">
		<img src="/images/home/web-design.png" alt=""/>
		<hgroup class="animate-left">
			<h2 class="editable">Web Development</h2>
			<p class="editable">Whether you need customers to request a quote, find weekly specials or place orders online we can build a site that does what you need it to do.</p>
			<ul id="websites" class="media">
				{% assign casestudywebsites = site.case-studies | where:"website",true %}
				{% for website in casestudywebsites limit: 3%}
				<li>
					<a href="{{ website.website-url }}" style="background-image: url('{{ website.website-thumbnail_path }}');" target="_blank">
						
					</a>
				</li>
				{% endfor %}
			</ul>
		</hgroup>
	</div>
	
	<section>
		<h4 class="editable">“But a website by itself will only give you partial results. That's why we offer a full service advertising solution.”</h4>
	</section>
	
	<div id="digital-advertising">
		<img src="/images/home/digital-advertising.png" alt=""/>
		<hgroup class="animate-right">
			<h2 class="editable">Digital Advertising</h2>
			<p class="editable">We focus on simple campaigns that actually generate results. The targeting capabilities available through online advertising channels can instantly get you in front of your ideal customers.</p>
			<ul>
				<li>We’ll create the advertisements</li>
				<li>Target the right customers</li>
				<li>And track/report the results of each campaign</li>
			</ul>
		</hgroup>
	</div>
	
	
	 
	
	
	
	
</div>