<div class="alternating" id="alternating">
	{% if include.title %}
	<h2>{{ include.title }}</h2>
	{% endif %}
	{% for feature in page.features %}
	<div class="{% if feature.bg_image %}bg{% endif %}">
		
		
		
		{% if feature.feature_image_path %}
		<img src="{{ feature.feature_image_path }}" alt=""/>
		{% endif %}
		
		{% if feature.campaign-options %}
		<div class="campaign-choices">
			<div class="campaign-options">
				<h1>Pork Ribs</h1>
				<h2 class="price" id="price">350</h2>
				<!--<h4>
					<img src="/images/icons/radius-black.svg" alt="" />
					<span>Radius</span>
				</h4>
				<label class="radius-option">
					<input type="radio" name="radius" value="1 Mile" checked/>
					<span>1 Mile</span>
				</label>
				<label class="radius-option">
					<input type="radio" name="radius" value="2 Miles" />
					<span>2 Miles</span>
				</label>
				<label class="radius-option">
					<input type="radio" name="radius" value="3 Miles" />
					<span>3 Miles</span>
				</label>
				<label class="radius-option">
					<input type="radio" name="radius" value="4 Miles" />
					<span>4 Miles</span>
				</label>
				<label class="radius-option">
					<input type="radio" name="radius" value="5 Miles" />
					<span>5 Miles</span>
				</label>
				<label class="radius-option">
					<input type="radio" name="radius" value="10 Miles" />
					<span>10 Miles</span>
				</label>
				<label class="radius-option">
					<input type="radio" name="radius" value="15 Miles" />
					<span>15 Miles</span>
				</label>
				<label class="radius-option">
					<input type="radio" name="radius" value="20 Miles" />
					<span>20 Miles</span>
				</label>-->
				
				
				
				
				
				
				<h4>
					<img src="/images/icons/eye-black.svg" alt="" />
					<span>Impressions</span>
				</h4>
				
				<label class="reach-option">
					
					<input type="radio" name="reach" value="5000" data-cost="0" checked/>
					<span>5,000</span>
				</label>
				<label class="reach-option">
					<input type="radio" name="reach" value="7500" data-cost="150"/>
					<span>7,500</span>
				</label>
				<label class="reach-option">
					<input type="radio" name="reach" value="10000" data-cost="200"/>
					<span>10,000</span>
				</label>
				<label class="reach-option">
					<input type="radio" name="reach" value="15000" data-cost="300"/>
					<span>15,000</span>
				</label>
				<label class="reach-option">
					<input type="radio" name="reach" value="20000" data-cost="400"/>
					<span>20,000</span>
				</label>
				<label class="reach-option">
					<input type="radio" name="reach" value="30000" data-cost="600"/>
					<span>30,000</span>
				</label>
				<label class="reach-option">
					<input type="radio" name="reach" value="40000" data-cost="800"/>
					<span>40,000</span>
				</label>
				<label class="reach-option">
					<input type="radio" name="reach" value="50000" data-cost="1000"/>
					<span>50,000</span>
				</label>
				<br />
				<span class="button">Add To Cart</span>
			</div>
		</div>
		{% endif %}
		
		{% if feature.youtube_id %}
		<div class="video">
			<div class="videoBlock">
				<div class="videoWrapper">
					<img data-video="{{ feature.youtube_id }}" alt="Play this video" src="https://img.youtube.com/vi/{{ feature.youtube_id }}/maxresdefault.jpg" class="thumbnail">
					<img src="/images/icons/play.svg" alt="" class="play" data-video="{{ feature.youtube_id }}" />
					<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/NrpMx74qKRQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="none"></iframe>-->
				</div>
				<img src="/images/other/video_shadow.svg" alt="video shadow" />
			</div>
		</div>
		{% endif %}
		
		{% if feature.fb_campaign_video_id %}
		<div class="campaign">
			<div class="facebook-block">
				<div class="campaign-header ">
					<img src="/images/illustrations/mockups/facebook/cooking-logo.svg" alt="" class="logo" />
					<hgroup>
						<h4 class="company-name">Your Company Name</h4>
						<p>Sponsored · <img src="/images/illustrations/mockups/facebook/globe-icon.svg" alt="" />
						</p>
					</hgroup>
					<p>Ad description</p>
				</div>
				<div class="videoBlock" >
					<div class="videoWrapper">
						<img data-video="{{ feature.fb_campaign_video_id }}" alt="Play this video" src="https://img.youtube.com/vi/{{ feature.fb_campaign_video_id }}/maxresdefault.jpg" class="thumbnail">
						<img src="/images/icons/play.svg" alt="" class="play" data-video="{{ feature.fb_campaign_video_id }}" />
						<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/NrpMx74qKRQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="none"></iframe>-->
					</div>
				</div>
				<div class="campaign-stats">
					<img src="/images/illustrations/mockups/facebook/like-icon.svg" alt="" />
					<img src="/images/illustrations/mockups/facebook/haha-icon.svg" alt="" />
					<img src="/images/illustrations/mockups/facebook/heart-icon.svg" alt="" />
					<span>Firstname Lastname and 230 others</span>
					<p>23.6K Views</p>
				</div>
				<div class="campaign-buttons">
					<img src="/images/illustrations/mockups/facebook/thumb-icon.svg" alt="" />
					<img src="/images/illustrations/mockups/facebook/comment-icon.svg" alt="" />
					<img src="/images/illustrations/mockups/facebook/share-icon.svg" alt="" />
				</div>
			</div>
		</div>
		{% endif %}
		
		<hgroup>
			<article>
				<h2>{{ feature.feature_title }}</h2>
				{%  if feature.feature_description_html %}
					{{ feature.feature_description_html }}
				{% elsif feature.feature_description_markdown %}
					{{ feature.feature_description_markdown | markdownify }}
				{% endif %}
			</article>
			
			{% if feature.special_info %}
			<ul class="special-info">
				{% for item in feature.special_info %}
				<li title="{{ item.info_title }}">{{ item.info }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			
			{% unless feature.button_url == nil %}
			<br />
			<a href="{{ feature.button_url }}" class="button">{{ feature.button_text }}</a>
			{% endunless %}
		</hgroup>
		
		<div class="bg-img {% if feature.feature_image_path %}blurry{% endif %}" style="background-image: url('{{ feature.bg_image }}');"></div>
	</div>
	{% endfor %}
	
	<img src="/images/other/top-smudge.svg" alt="" />
	<img src="/images/other/bottom-smudge.svg" alt="" />
</div>