<div class="banner dark" {% if page.banner_image_path %} style ="background-image: url('{{ page.banner_image_path}}')" {% endif %}>
	{% if page.banner_video_path %}
		<video playsinline autoplay muted loop poster="" id="bgvid">
		    <source src="{{page.banner_video_path}}" type="video/mp4" />
		</video>
	{% endif %}
	<hgroup>
		{% if page.banner_logo_image %}
			<img src="{{page.banner_logo_image}}" alt="" />
		{% endif %}
		<h1>{{ page.banner_headline }}</h1>
		{% if page.banner_sub_head %}
			<h2>{{ page.banner_sub_head }}</h2>
		{% endif %}
		{% if page.banner_button_text %}
			<a href="{{ page.banner_button_link }}" class="button">{{page.banner_button_text}}</a>
		{% endif %}
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>