<div class="banner dark {% if page.banner_size %}{{ page.banner_size }}{% endif %}" {% if page.banner_image_path %} style ="background-image: url('{{ page.banner_image_path}}')" {% endif %}>
	{% if page.banner_video_path %}
		<video playsinline autoplay muted loop poster="{{ banner_video_poster_path: }}" id="bgvid">
		    <source src="{{page.banner_video_path}}" type="video/mp4" />
		</video>
	{% endif %}
	<hgroup>
		<img src="/images/logos/logo-emblem.svg" alt="" />
		<h1>{{ page.banner_headline }}</h1>
		
		{% if page.banner_sub_head %}
			<h2>{{ page.banner_sub_head }}</h2>
		{% endif %}
		{% if page.banner_button_text %}
			<a href="{{ page.banner_button_link }}" class="button">{{page.banner_button_text }}</a>
		{% endif %}
		<!--{% if page.form %}-->
		<!--	<form method="post" action="/campaigns/">-->
		<!--		<h2>Reach Your First 5,000 Customers Free</h2>-->
		<!--		<input type="email" name="email" value="" placeholder="Email" />-->
		<!--		<button class="button">Sign Up</button>-->
				
		<!--		<input type="hidden" name="_hook" value="https://hooks.zapier.com/hooks/catch/2059575/j0q32n/">-->
		<!--	</form>-->
		<!--{% endif %}-->
	</hgroup>
	<img src="{% if page.banner_bottom_image %}{{ page.banner_bottom_image }}{% else %}/images/other/banner-bottom.svg{% endif %}" alt="" class="banner-bottom" />
</div>