<div class="conversions" id="conversions">
	<h2>Customer Funnel</h2>
	<ul>
		<li>
			<div>
				<span style="height: 100%;">
					<span></span>
					<h5><strong id="reach-cr">100</strong>%</h5>
				</span>
			</div>
			
			<img src="/images/icons/eye.svg" alt="" />
			<hgroup>
				<h3>Imoressions</h3>
				{% assign reach = page.ad_spend | times:1000.0 | divided_by:page.cpm_number %}
				<h4 id="reach">{{ reach | round }}</h4>
			</hgroup>
		</li>
		<div>
			<h3>CTR</h3>
			<label>
				<input type="number" name="ctr" value="{{ page.ctr_number }}" id="ctr" class="primary-input"/>
				<span>%</span>
			</label>
		</div>
		
		<li>
			{% assign clicks = reach | times:page.ctr_number | times:1.0 | divided_by:100.0 %}
			{% assign clicks_cr = clicks | divided_by:reach | times:100.0 %}
			{% assign clicks_bar = clicks | divided_by:clicks | times:100.0 %}
			
			<div>
				<span style="height: {{ clicks_bar }}%;" id="clicks-bar">
					<h5><strong id="clicks-cr">{{ clicks_cr | round:2 }}</strong>%</h5>
				</span>
			</div>
			
			<img src="/images/icons/hand.svg" alt="" />
			<hgroup>
				<h3>Clicks</h3>
				<h4 id="clicks">{{ clicks | round }}</h4>
			</hgroup>
		</li>
		<div>
			<h3>SR</h3>
			<label>
				<input type="number" name="sr" value="{{ page.sr_number }}" class="primary-input" id="sr"/>
				<span>%</span>
			</label>
		</div>
		
		<li>
			{% assign leads = clicks | times:page.sr_number | divided_by:100.0 %}
			{% assign leads_cr = leads | divided_by:reach | times:100.0 %}
			{% assign leads_bar = leads | divided_by:clicks | times:100.0 %}
			
			<div>
				<span style="height: {{ leads_bar }}%;" id="leads-bar">
					<h5><strong id="leads-cr">{{ leads_cr | round:2 }}</strong> %</h5>
				</span>
			</div>
			
			<img src="/images/icons/heart.svg" alt="" />
			<hgroup>
				<h3>Leads</h3>
				<h4 id="leads">{{ leads | round }}</h4>
			</hgroup>
		</li>
		<div>
			<h3>CR</h3>
			<label>
				<input type="number" name="cr" value="{{ page.cr_number }}" class="primary-input" id="cr"/>
				<span>%</span>
			</label>
		</div>
		
		<li>
			{% assign customers = leads | times:page.cr_number | divided_by:100.0 %}
			{% assign customers_cr = customers | divided_by:reach | times:100.0 %}
			{% assign customers_bar = customers | divided_by:clicks | times:100.0 %}
			
			<div>
				<span style="height: {{ customers_bar }}%;" id="customers-bar">
					<h5><strong id="customers-cr">{{ customers_cr | round:2 }}</strong> %</h5>
				</span>
			</div>
			<img src="/images/icons/money.svg" alt="" />
			<hgroup>
				<h3>Customers</h3>
				<h4 id="customers">{{ customers | round }}</h4>
			</hgroup>
		</li>
	</ul>
	<section>
		<label>
			<h3>Ad Spend</h3>
			<span>$</span>
			<input type="number" name="ad_spend" value="{{ page.ad_spend }}" id="ad_spend" class="primary-input"/>
		</label>
		<label>
			<h3>Cost Per Thousand</h3>
			<span>$</span>
			<input type="number" name="cpm" value="{{ page.cpm_number }}" id="cpm" class="primary-input"/>
		</label>
		<label>
			<h3>Average Customer Value</h3>
			<span>$</span>
			<input type="number" name="acv" value="{{ page.acv_number }}" class="primary-input" id="acv"/>
		</label>

		<div>
			{% assign revenue = customers| round | times:page.acv_number %}
			<h2>Revenue</h2>
			<h3 id="revenue" data-char="$">{{ revenue }}</h3>
		</div>
	</section>
</div>

<script type="text/javascript">
	
	$( ".primary-input" ).change(function() {
		// Cash
		var ACV = $('#acv').val();
		var AdSpend = $('#ad_spend').val();
		var CPM = $('#cpm').val();
		
		// Reach
		var Reach = Math.round(AdSpend/CPM*1000);
		$('#reach').html( Reach.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );
		
		// Clicks
		var CTR = $('#ctr').val();
		var Clicks = Math.round(Reach*(CTR/100));
		$('#clicks').html( Clicks.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );
		var ClicksCR = ((Clicks/Reach)*100).toFixed(2);
		$('#clicks-cr').html( ClicksCR.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );

		
		// Leads
		var SR = $('#sr').val();
		var Leads = Math.round(Clicks*(SR/100));
		$('#leads').html( Leads.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );
		var LeadsCR = ((Leads/Reach)*100).toFixed(2);
		$('#leads-cr').html( LeadsCR.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );
		var LeadsBar = ((Leads/Clicks)*100).toFixed(2);
		$('#leads-bar').css('height', `${LeadsBar}%`);
		
		// Customers
		var CR = $('#cr').val();
		var Customers = Math.round(Leads*(CR/100));
		$('#customers').html( Customers.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );
		var CustomersCR = ((Customers/Reach)*100).toFixed(2);
		$('#customers-cr').html( CustomersCR.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );
		var CustomersBar = ((Customers/Clicks)*100).toFixed(2);
		$('#customers-bar').css('height', `${CustomersBar}%`);
		
		// Revenue
		var Revenue = Math.round(Customers*ACV);
		$('#revenue').html( Revenue.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") );
		
	});
	

	
	
	
	
	
	
	// Actions
	$( ".product_form > #product_measurements > .actions > .back" ).click(function() {	
		$('.product_form').removeClass('stage3');
		$('.product_form').addClass('stage2');
	});
</script>