<!--<div class="testimonial-videos">
	<h2>Here's What Our customers Have To Say</h2>
	<ul>
		<li>
			<div class="videoBlock">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/n_aCigsGT2s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="none"></iframe>
				</div>
				<img src="/images/other/video_shadow.svg" alt="video shadow" />
			</div>
		</li>
		<li>
			<div class="videoBlock">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/I-l-iyw7jtA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="none"></iframe>
				</div>
				<img src="/images/other/video_shadow.svg" alt="video shadow" />
			</div>
		</li>
		<li>
			<div class="videoBlock">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/GILVCxAPA4I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="none"></iframe>
				</div>
				<img src="/images/other/video_shadow.svg" alt="video shadow" />
			</div>
		</li>
	</ul>
</div>-->


<!--<div class="bees-case-study" id="case-study">
	
	<img src="/images/illustrations/bees-growth.svg" alt="" />
	<section>
		<h3>
			{% assign today = 'now' | date: '%s' %}
			{% assign single_day = 86400 %}
			{% assign today_number = 'now' | date: '%u' | plus: 0 %}
		
			{% if  today_number == 2 %}  
			
			  Live Presentation Tomorrow
				
			{% elsif  today_number == 3 %}  
			
			    Live Presentation Today
			
			{% else %}
			
			    {% assign days_until_next = 9 | minus: today_number  %}
			    {% assign days_unix = days_until_next | times: single_day  %}
			    Live Presentation Wednesday {{ today | plus: days_unix  | date: '%b %d, %Y' }}
			
			{% endif %}
		</h3>
		<h2>18% Annual Growth</h2>
		<p>How we took Bee's Marketplace from a 4% to an 18% annual growth rate and sold an extra 3 million dollars worth of groceries... using video ads.</p>
		<!--<a href="/blog/bees-marketplace/">See How We Did It</a>--*>
		
		<form method="post" action="/webinar-thank-you/" class="signup">
		    <label>
		        <img src="/images/icons/email-white.svg" alt="" />
		        <input type="text" name="email" placeholder="email" />
		    </label>
		    <!--<label>
		    	<img src="/images/icons/female-white.svg" alt="" />
		    	<input type="text" name="name" placeholder="Full Name" />
			</label>--*>
		    <input type="hidden" name="_hook" value="https://hooks.zapier.com/hooks/catch/2059575/xuh01g/">
		    <input type="text" name="_gotcha" style="display: none;">
		    
		    <input type="submit" value="Show me How You Did It" class="button">
		</form>
	</section>
</div>-->


<div class="testimonial-quotes">
	<ul>
		<li>
			<a href="#">
				<div class="photo" style="background-image: url('/images/photos/customers/dell.jpg');"></div>
				<img src="/images/icons/quote.svg" alt="" />
				<p>We've seen great results from the advertising True Take Media has done for us.</p>
				<h5>Dell</h5>
				<h6>Blue Sage Adventures</h6>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="photo" style="background-image: url('/images/photos/customers/trish.jpg');"></div>
				<img src="/images/icons/quote.svg" alt="" />
				<p> True Take really got our organic produce moving... Now we have a great organics section.</p>
				<h5>Trish</h5>
				<h6>Bee's Marketplace</h6>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="photo" style="background-image: url('/images/photos/customers/robert.jpg');"></div>
				<img src="/images/icons/quote.svg" alt="" />
				<p>We've been able to reach our local audience and get more customers into the store.</p>
				<h5>Robert</h5>
				<h6>The Border Store</h6>
			</a>
		</li>
	</ul>
</div>


<div class="call-to-action">
	<img src="/images/other/top-smudge.svg" alt="" />
	<hgroup>
		<h2>Want to increase retail sales?</h2>
		<h1>Let's Talk</h1>
	</hgroup>
	<section>
		<a href="tel:14352362369">
			<img src="/images/icons/phone.svg" alt="" />
			<h3>Call Us</h3>
		</a>
		<a href="mailto:kevin@truetakemedia.com">
			<img src="/images/icons/email.svg" alt="" />
			<h3>Email Us</h3>
		</a>
		<a href="m.me/truetakeofficial" target="_blank">
			<img src="/images/icons/chat.svg" alt="" />
			<h3>Chat Us</h3>
		</a>
	</section>
	
	
	<!--<section id="signup-form">-->
	<!--	<form method="post" action="/campaigns/">-->
	<!--		<h2>Reach Your First 5,000 Customers Free</h2>-->
	<!--		<input type="email" name="email" value="" placeholder="Email" />-->
	<!--		<button class="button">Sign Up</button>-->
			
	<!--		<input type="hidden" name="_hook" value="https://hooks.zapier.com/hooks/catch/2059575/j0q32n/">-->
	<!--	</form>-->
	<!--</section>-->
</div>