<nav>
	<a href="/" {% if page.url == '/' %}class="selected"{% endif %}>Stores</a>
	{% assign navitems = site.main-pages | sort: 'nav_order'  %}
	{% for item in navitems %}
		<a href="{{ item.url }}" {% if page.url contains item.nav_class %}class="selected"{% endif %} {% if item.hide_from_nav == true %}style="display: none;"{% endif %}>{{ item.nav_title }}</a>
	{% endfor %}
	<!--<a href="tel:14352362369" class="hover">(435) 236-2369</a>-->
	
	    
	
	<a href="#signup-form" class="cta">Sign Up</a>
	<a href="#" class="snipcart-checkout snipcart-summary"><span class="snipcart-total-items"></span></a>
</nav>