<div class="price-tiers">
	<h2>{{ include.title }}</h2>
	{% for pricetier in page.pricing %}
	<section>
		{% unless pricetier.icon_image_path == nil %}
		<div class="image">
			<img src="{{ pricetier.icon_image_path }}" alt="" />
		</div>
		{% endunless %}
		<h2>{{ pricetier.title }}</h2>
		{{ pricetier.description_html }}
		{% unless pricetier.snippet == nil %}<span>{{ pricetier.snippet }}</span>{% endunless %}
		<br />
		<ul>
			{% for listitem in pricetier.list %}
			<li>{{ listitem.listitem }}</li>
			{% endfor %}
		</ul>
		<h3>
			{% if pricetier.price_number %}
				${{ pricetier.price_number }}<i>{{ pricetier.price_type }}</i>
			{% else %}
				{{ pricetier.price }}
			{% endif %}
			
		</h3>
		{%  if pricetier.button_url %}
			<a href="{{ pricetier.button_url }}" class="button">{{ pricetier.button_text }}</a>
		{% else %}
			<a href="#quote-form" class="button">Let's Talk</a>
		{% endif %}
		
		
	</section>
	{% endfor %}
</div>