---
layout: default

permalink: /advertising/
nav_title: advertising
nav_class: /advertising/
nav_order: 4
hide_from_nav: false
banner_headline: Cost Effective Advertising
banner_sub_head: 'Reach audience // Attract customers // Sell products'
banner_logo_image: /images/logos/logo.svg
banner_image_path: /images/banners/workspace.jpg
banner_video_path: 
banner_video_poster_path:
banner_vid_path:
banner_button_text: Campaigns We Managed
banner_button_link: #websites 
youtube_video_id:
sections:
  - title: Results Driven
    icon: /images/icons/eye-red.svg
    description: '<p>We help you reach your ideal customer base consistently & affordably so you can Increase Your Brand Awareness, Generate More Leads, Get Customers Through Your Doors, Close More Deals, Retain Customers Longer.</p>'
    url:
    button_text:
  - title: Targeted Advertising
    icon: /images/icons/female-red.svg
    description: <p>We use targeted advertising through Facebook and Instagram to consistently get you in front of your ideal customers.</p>
    url:
    button_text:
  - title: Marketing Automation
    icon: /images/icons/laptop-red.svg
    description: '<p>We can help set up Lead Distribution, Retargeting, Follow Up Sequences, Landing Pages and anything else you might need to get the most out of your campaign.</p>'
    url:
    button_text:
---
{% include banner.html %}

<article style="text-align: center;">
	<h2>The Best Form Of Local Advertising Ever Invented</h2>
	<p>Facebook & Instagram are the most effective, affordable advertising channels ever created for local businesses... and you should be taking advantage of that.</p>
</article>

<!--{% include sections.html %}-->

<!--{% include video-block.html %}-->



<!--<div class="simple-list">
	
	<!--<ul>
		<li><strong>Reach</strong> Whoever You Want</li>
		<li><strong>Look</strong> More Professional</li>
		<li><strong>Convert</strong> More Customers</li>
	</ul>--*>
	<!--<ul>
		<li>We use Facebook to <strong>target the exact people you want</strong> to show your ads to that way were not wasting your ad budget reaching out to people who would never buy anyways.</li> 
		<li>Design <strong>promotions that actually pull people into your store</strong> not just entertain them.</li>
		<li>Establish tracking systems to <strong>measure all the important campaign metrics</strong> for you.</li>
		<li>Produce video advertisements that use stunning visuals, impactful music & effective messaging to <strong>draw viewers in</strong> & give them a good reason to stop by.</li>
		<li>Launch & <strong>monitor your advertisings performance</strong> so you don’t have to spend your valuable time learning how to run the Facebook ad manager.</li>
		<li>Report on campaign results so you’ll <strong>know exactly how well your advertising is performing.</strong></li>
	</ul>--*>
</div>-->





<!--<div class="guarantee">
	<hgroup>
		<h2>We guarantee</h2>
		<p>If you spend $100 advertising with us we will get you in front of at least 10,000 locals and... We’ll cover the production cost of your first ad.</p>
	</hgroup>
	<br /><br /><br />
	<h1>Schedule Your Campaign <br /> Planning Meeting</h1>
</div>-->

