---
layout: default
title: 
banner_headline: Grocery Store Ad Campaigns
banner_size: tiny
banner_bottom_image: /images/other/banner-bottom-grey.svg
permalink: /campaigns/
nav_class: campaigns
nav_title: campaigns
nav_order: 3
banner_path:
---
{%  include banner.html %}


<div id="campaignlist">
	<h2>Choose A Campaign To Get Started</h2>
	<section>
		<div class="search-box">
			<input class="search" id="search-field" placeholder="Search (March, Christmas, Grocery, Etc.)" />
			<img src="/images/icons/search.svg" alt="" />
		</div>
		<div class="sort-box">
			<span>Sort By:</span>
			<span class="sort" data-sort="campaigndate">Date</span>
			<span class="sort" data-sort="campaigntitle">Name</span>
			<span class="sort" data-sort="campaignprice">Price</span>
		</div>
	</section>  
	<ul class="campaigns list">
		
		{% assign sortedcampaigns = site.campaigns | sort:"start_date" | reverse %}
		{% assign today_date = 'now' | date: '%s' %}
		
		
		{% for campaign in sortedcampaigns %}
		<li>
			<div class="videoBlock">
				<div class="videoWrapper">
					{% if campaign.youtube_video_id %}
					<img data-video="{{ campaign.youtube_video_id }}" alt="Play this video" src="https://img.youtube.com/vi/{{ campaign.youtube_video_id }}/maxresdefault.jpg" class="thumbnail">
					<img src="/images/icons/play.svg" alt="" class="play" data-video="{{ campaign.youtube_video_id }}" />
					{% else %}
					<div class="coming-soon"></div>
					{% endif %}
					<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ campaign.youtube_video_id }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="none"></iframe>-->
				</div>
				<img src="/images/other/video_shadow.svg" alt="video shadow" />
			</div>
			
			<section>
				<h3 class="campaigntitle">{{ campaign.title }}</h3>
				<h4 class="campaignprice">Starting At: ${{ campaign.price }}</h4>
				<p class="campaigntags">
					{% for tag in campaign.tags %}
					<span>{{ tag }}</span>
					{% endfor %}
					
				</p>
				<span class="campaigndate">{{ campaign.start_date }}</span>
				<a href="{{ campaign.url }}" class="button">
					<span>Customize Campaign</span>
					<p>
						<img src="/images/icons/radius.svg" alt="" />
						<span>1 Mile From Store</span>
						<img src="/images/icons/eye.svg" alt="" />
						<span>5,000 Impressions</span>
					</p>
				</a>
				<!--<button
				    class="snipcart-add-item button"
				    data-item-id="{{ campaign.sku }}-{{ campaign.title | replace:' ','-' | downcase }}"
				    data-item-name="{{ campaign.title }}"
				    data-item-price="{{ campaign.price }}"
				    data-item-url="https://truetakemedia.com{{ page.url }}"
				    data-item-custom1-name="Radius"
				    data-item-custom1-options="1 Mile|2 Miles|3 Miles|4 Miles|5 Miles|10 Miles|15 Miles|20 Miles"
				    data-item-custom1-value="1 Mile"
				    data-item-custom2-name="Impressions"
				    data-item-custom2-options="5,000 Impressions|7,500 Impressions[+150.00]|10,000 Impressions[+200.00]|15,000 Impressions[+300.00]|20,000 Impressions[+400.00]|30,000 Impressions[+600.00]|40,000 Impressions[+800.00]|50,000 Impressions[+1000.00]"
				    data-item-custom2-value="1 Mile"
				    >
				    <span>Customize Campaign</span>
					<p>
						<img src="/images/icons/radius.svg" alt="" />
						<span>1 Mile From Store</span>
						<img src="/images/icons/eye.svg" alt="" />
						<span>5,000 Impressions</span>
					</p>
				</button>-->
			</section>
		</li>
		{% endfor %}
	</ul>
	<img src="/images/other/bottom-smudge.svg" alt="" class="bottom-smudge" />
</div>





<script type="text/javascript">
	
	var options = {
	    valueNames: [ 'campaigntitle', 'campaignprice', 'campaigntags', 'campaigndate' ]
	};
	
	var campaignList = new List('campaignlist', options);
	
	$('#search-field').on('keyup', function() {
	  var searchString = $(this).val();
	  campaignList.search(searchString);
	});
</script>

