---
layout: default
title: True Take Media
headline: 'We Help Local Companies Grow Their Business<strong>With Facebook Video Ads</strong>'
permalink: /
nav_title: Home
nav_class: /
nav_order: .5
hide_from_nav: true
icon_path: /uploads/wine.png
banner_image_path: /images/banners/videos/wineries.jpg
banner_vid_image_path: /images/banners/videos/wineries_vid.jpg
banner_vid_path: /images/banners/videos/wineries4.mp4
acv_number: 250
ad_spend: 1500
cpm_number: 30.0
ctr_number: 1.45
sr_number: 15.0
cr_number: 35.0
features:
  - feature_title: Video Production
    feature_image_path: /images/illustrations/features/video.png
    feature_description_html:
      <p>We create professional video ads that give a true representation of your company.</p>
    button_url: '#video-grid'
    button_text: Example Videos
  - feature_title: Targeted Advertising
    feature_image_path: /images/illustrations/features/fb_ad.png
    feature_description_html:
      <p>With the Facebook ad platform we target your local customer base. Using location, interest, behaviors and more to target the people most likely to become your customers.</p>
    button_url:
    button_text:
  - feature_title: Tracking Results
    feature_image_path: /images/illustrations/features/fb_reports.png
    feature_description_html: >-
      <p>We measure return on investment by tracking people reached, leads acquired & sales generated.</p> 
    button_url: '#conversions'
    button_text: See How We Track Results
  - feature_title: Optimize
    feature_image_path: /images/illustrations/features/fb_demographics.png
    feature_description_html: >-
      <p>Through continual split testing we can identify top performing segments of your market and increase effectiveness of your advertising over time.</p>
    button_url:
    button_text: 
description:
pricing:
  - title: Basic
    icon_image_path:
    description_html: '<p>For companies looking to spend $15-$50/day on advertising.</p>'
    snippet:
    price_number: 250 
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Pro
    icon_image_path:
    description_html: '<p>For companies looking to spend $50-$150/day on advertising.</p>'
    snippet:
    price_number: 500 
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Premium
    icon_image_path:
    description_html: '<p>For companies looking to spend $150+/day on advertising.</p>'
    snippet:
    price_number: 1000 
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
_comments:
  cpm: Cost Per Thousand Views
  ctr: Click Through Rate
  sr: Signup Rate
  cr: Conversion Rate
  acv: Average Customer Value
---

<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="#quote-form" class="button white-border">Lets Talk</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

<div class="alternating">
	{% for feature in page.features %}
	<div id="video-production">
		<img src="{{ feature.feature_image_path }}" alt=""/>
		<hgroup class="">
			<h2 class="editable">{{ feature.feature_title }}</h2>
			<article>
				{{ feature.feature_description_html }}
			</article>
			{% unless feature.button_url == nil %}
			<a href="{{ feature.button_url }}" class="button">{{ feature.button_text }}</a>
			{% endunless %}
		</hgroup>
	</div>
	{% endfor %}
</div>

{% include conversion-funnel.html %}

<div class="video-grid" id="video-grid">
	<h2>Some of our work</h2>
	<ul>
	{% assign pageindustry = page.title | downcase | remove:' '  %}
	{% assign videos = site.posts | where:"category","videos" | where:"industry",pageindustry %}
	{% for video in videos  %}
		<li class="video-wrapper">
			<iframe width="280" height="156" src="https://www.youtube.com/embed/{{ video.youtube_id }}?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			<!--<a href="{{ video.url }}" target="blank">
				<div style="background-image: url('{{ video.banner_path }}');">
					<img src="/images/icons/play.svg" alt="Play Video" />
				</div>
				<hgroup>
					<h4>{{ video.customer }}, {{ video.date | date: "%b %d, %y" }}</h4>
					<h3>{{ video.title }}</h3>
				</hgroup>
			</a>-->
		</li>
	{% endfor %}
	</ul>
</div>


<div class="production_price">
	<h2>Video Production</h2>
	
	<article>
		<h4>Starting at:</h4>
		<h3>$500</h3>
		<p>With video production it’s hard to give a standard price because there are so many variables to take into account like…</p>
		
		<ul>
			<li>How much raw footage will we be editing?</li>
			<li>What is the final Length of the video?</li>
			<li>Will there be travel expenses?</li>
			<li>How long will we be filming?</li>
			<li>Do we need to hire actors?</li>
			<li>Does the video require a voice over?</li>
			<li>Will we have to rent special equipment, props or materials?</li>
			<li>Do we need to write a script?</li>
			<li>Does the video require animation?</li>
			<li>Etc…</li>
		</ul>
		
		<p>And then there are different video styles…</p>
		<ul>
			<li>Interview</li>
			<li>Cinematic</li>
			<li>Testimonial</li>
			<li>Product</li>
			<li>Sales</li>
			<li>Etc.</li>
		</ul>
		
		<p>In other words… every project is unique. So to give you a true price we need to have a conversation and figure out exactly what you’re looking to accomplish.</p>
	</article>
	
</div>

<div class="price-tiers">
	<h2>Advertising Management</h2>
	{% for pricetier in page.pricing %}
	<section>
		{% unless pricetier.icon_image_path == nil %}
		<div class="image">
			<img src="{{ pricetier.icon_image_path }}" alt="" />
		</div>
		{% endunless %}
		<h2>{{ pricetier.title }}</h2>
		{{ pricetier.description_html }}
		{% unless pricetier.snippet == nil %}<span>{{ pricetier.snippet }}</span>{% endunless %}
		<br />
		<ul>
			{% for listitem in pricetier.list %}
			<li>{{ listitem.listitem }}</li>
			{% endfor %}
		</ul>
		<h3>${{ pricetier.price_number }}<i>/Mo</i></h3>
		<a href="#quote-form" class="button">Learn More</a>
	</section>
	{% endfor %}
</div>





