---
layout: default
title: True Take Media
headline: 'We Use High Quality Video & Targeted Advertising <strong>To Help Grow Your Business</strong>'
permalink: /
nav_title: Home
nav_class: /
nav_order: .5
hide_from_nav: true
icon_path: /uploads/wine.png
banner_image_path: /images/banners/workspace.jpg
banner_vid_image_path:
banner_vid_path:
sections:
  - title: We produce high quality professional videos
    icon: /images/icons/film-strip-red.svg
    description: <p>That tell your story, Highlight products, Promote special offers, Teach people things they didn’t know and a whole lot more.</p>
    url: /videos/
    button_text: Learn More
  - title: We use Facebook advertising to get you in front of your customers and drive real business results.
    icon: /images/icons/money-red.svg
    description: <p>Like Increased Brand Awareness, Lead Generation, Getting Customers Through Your Doors, Closing More Deals, Retaining More Customers.</p>
    url: /videos/
    button_text: Learn More
features:
  - feature_title: We use Facebook advertising to get you in front of your customers and drive real business results like
    feature_image_path: /images/illustrations/features/video.png
    feature_description_html: '<ul>
	<li>Tell your story</li>
	<li>Highlight products</li>
	<li>Promote special offers</li>
	<li>Teach people things they didn’t know.</li>
</ul>'
    button_url: '#video-grid'
    button_text: Learn More
  - feature_title: We use Facebook advertising to get you in front of your customers and drive real business results like
    feature_image_path: /images/illustrations/features/fb_ad.png
    feature_description_html: '<ul>
	  	<li>Increased Brand Awareness</li>
	  	<li>Lead Generation</li>
	  	<li>Getting Customers Through Your Doors</li>
	  	<li>Closing More Deals</li>
	  	<li>Retaining More Customers</li>
	  </ul>'
    button_url: #
    button_text: Learn More
---
<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="#cta" class="button">Request A Quote</a>
	</hgroup>
	
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

{% include sections.html %}


<h2 style="text-align: center;">Some Of Our Work</h2>
{% assign videos = site.videos | where:"featured","true" %}
{% include video-grid.html %}


<!--<div class="we-love-wineries">
	<section>
		<img src="/images/illustrations/we-love-wine-2.svg" alt="" />
		<h3>Are you a winery?</h3>
		<a href="/wineries/" class="button">Click Here For Special Treatment</a>
	</section>
</div>-->

<!--<div class="alternating" id="alternating">
	{% for feature in page.features %}
	<div>
		<img src="{{ feature.feature_image_path }}" alt=""/>
		<hgroup class="">
			<h2 class="editable">{{ feature.feature_title }}</h2>
			<article>
				{{ feature.feature_description_html }}
			</article>
			{% unless feature.button_url == nil %}
			<a href="{{ feature.button_url }}" class="button">{{ feature.button_text }}</a>
			{% endunless %}
		</hgroup>
	</div>
	{% endfor %}
</div>-->











