---
layout: default
title: Websites
banner_image_path:
permalink: /websites/
nav_title: websites
nav_class: /websites/
nav_order: 2
hide_from_nav: false
form: false
banner_headline: High Performance Websites
banner_sub_head: 'Easy To Manage // Affordable // Enjoyable'
banner_logo_image:
banner_image_path:
banner_video_path: /videos/web-design-2.mp4
banner_video_poster_path:
banner_vid_path:
banner_button_text: Websites We Developed
banner_button_link: #websites
forms:
  - form-title: Look professional
    form-description: My brand needs to reflect the quality of work I do.
    form-icon-path: /images/icons/star-bubble.svg
    fieldsets:
      - fieldset-name: Fieldset 1
        fields:
          - field-name: Name
            field-type: text
            field-options:
              - option-name:
          - field-name: Email
            field-type: text
            field-options:
              - option-name:
          - field-name: Phone
            field-type: text
            field-options:
              - option-name:
  - form-title: Search Results
    form-description: Make it easy for customers to find me online.
    form-icon-path: /images/icons/search-bubble.svg
    fieldsets:
      - fieldset-name: Fieldset 1
        fields:
          - field-name: Name
            field-type: text
            field-options:
              - option-name:
          - field-name: Email
            field-type: text
            field-options:
              - option-name:
          - field-name: Phone
            field-type: text
            field-options:
              - option-name:
  - form-title: Sell Online
    form-description: Sell my products through an e-commerce website.
    form-icon-path: /images/icons/cart-bubble.svg
    fieldsets:
      - fieldset-name: Fieldset 1
        fields:
          - field-name: Name
            field-type: text
            field-options:
              - option-name:
          - field-name: Email
            field-type: text
            field-options:
              - option-name:
          - field-name: Phone
            field-type: text
            field-options:
              - option-name:
  - form-title: Share My Knowlege
    form-description: An easy way to share what I know with the world.
    form-icon-path: /images/icons/blog-bubble.svg
    fieldsets:
      - fieldset-name: Fieldset 1
        fields:
          - field-name: Name
            field-type: text
            field-options:
              - option-name:
          - field-name: Email
            field-type: text
            field-options:
              - option-name:
          - field-name: Phone
            field-type: text
            field-options:
              - option-name:
---
{% include banner.html %}

<article style="text-align: center;">
	<h2>Your website is the most important piece of your brand</h2>
	<p>We create beautiful, high performance websites that are easy for you to manage and easy for your customers to use. If you're looking for a quick, easy way to get a high performance, professional website up and running... We would love to talk.</p>
</article>

{% include forms.html %}

<div class="websites" id="websites">
	<img src="/images/other/bottom-smudge.svg" alt="" />
	<ul>
	{% for website in site.customers %}
		{% if website.website_url %}
		<li>
			<a href="{{ website.website_url }}" target="_blank">
				<img src="/images/illustrations/chrome.svg" alt="Chrome Browser" />
				<div style="background-image: url('{{ website.website_thumbnail_path }}');"></div>
				<h3>{{ website.website_url }}</h3>
			</a>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
	<img src="/images/other/bottom-smudge.svg" alt="" />
</div>