---
layout: default
permalink: /wineries/video/
headline: How to get more customers into<strong>your tasting room</strong>
icon_path: /uploads/wine.png
banner_image_path: /images/banners/videos/wineries.jpg
banner_vid_image_path: /images/banners/videos/wineries_vid.jpg
banner_vid_path: /images/banners/videos/wineries4.mp4
acv_number: 250
ad_spend: 1500
cpm_number: 49
ctr_number: 1.45
sr_number: 15
cr_number: 35
features:
  - feature_title: Filming + Editing
    feature_image_path:
    feature_description_html: >-
      <p>Our film crew will come to your winery and film everything needed to
      produce the video ads you're looking for.</p>
    button_url: '#film-price'
    button_text: How much does it cost?
  - feature_title: Documentary style videos
    feature_image_path:
    feature_description_html: >-
      <p>The primary purpose of a video like this is to tell your story. It all
      starts with the interview of a prominent member of the winery (owner,
      winemaker, etc.) and is carefully blended with scenes from around your
      winery.</p><p>&nbsp;</p><p><b>1-3 Min</b></p>
    button_url:
    button_text:
  - feature_title: Cinematic Videos
    feature_image_path:
    feature_description_html: >-
      <p>In these videos we let the beautiful scenery speak for itself.
      Typically consists mainly of inspiring music paired with scenes of the
      vineyard, tasting room, wine pours and happy
      customers.</p><p>&nbsp;</p><p><strong>0:30 - 1:00 Min</strong></p>
    button_url:
    button_text:
  - feature_title: Product Videos
    feature_image_path:
    feature_description_html: >-
      <p>Short and sweet, product videos are meant to feature a specific bottle
      of wine. They can come in the form of a simple cinematic wine pour video
      or a story driven interview documentary style.</p><p><strong>Length 0:15 -
      1:00 Min</strong></p>
    button_url:
    button_text:
description:
pricing:
  - title: Basic
    icon_image_path:
    description_html: <p>For companies looking to spend $15-$50/day on advertising.</p>
    snippet:
    price_number: 250
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Pro
    icon_image_path:
    description_html: <p>For companies looking to spend $50-$150/day on advertising.</p>
    snippet:
    price_number: 500
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Premium
    icon_image_path:
    description_html: <p>For companies looking to spend $150+/day on advertising.</p>
    snippet:
    price_number: 1000
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
_comments:
  cpm: Cost Per Thousand Views
  ctr: Click Through Rate
  sr: Signup Rate
  cr: Conversion Rate
  acv: Average Customer Value
---
<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="#quote-form" class="button">Lets Talk</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

{% include alternating.html %}

{% include price-tiers.html %}