---
layout: default
permalink: /wineries/video/
headline: Video Production For Wineries
icon_path: /uploads/wine.png
banner_image_path: /images/banners/videos/wineries.jpg
banner_vid_image_path: /images/banners/videos/wineries_vid.jpg
banner_vid_path: /images/banners/videos/wineries4.mp4
acv_number: 250
ad_spend: 1500
cpm_number: 49
ctr_number: 1.45
sr_number: 15
cr_number: 35
features:
  - feature_title: Filming + Editing
    feature_image_path: /images/alternating/sony.jpg
    feature_description_html: >-
      <p>Our film crew will come to your winery and film everything needed to
      produce the video ads you're looking for.</p>
    button_url: '#film-price'
    button_text: How much does it cost?
  - feature_title: Documentary style videos
    feature_image_path: /images/alternating/mic.png
    feature_description_html: >-
      <p>The primary purpose of a video like this is to tell your story. It all
      starts with the interview of a prominent member of the winery (owner,
      winemaker, etc.) and is carefully blended with scenes from around your
      winery.</p>
    special_info:
      - info_title: Avg. Video Length
        info: 1:00 - 3:00 Min
      - info_title: Starting At
        info: $1,500
    videos:
      - youtube_id: 'jAS5R2_SGdM'
      - youtube_id: '-Cj7tgfE9yg'
    button_url:
    button_text:
  - feature_title: Product Videos
    feature_image_path: /images/alternating/wine-bottles.png
    feature_description_html: >-
      <p>Short and sweet, product videos are meant to feature a specific bottle
      of wine. They can come in the form of a simple cinematic wine pour video
      or a story driven interview documentary style.</p>
    special_info:
      - info_title: Avg. Video Length
        info: 0:15 - 1:00 Min
      - info_title: Starting At
        info: $500
    videos:
      - youtube_id: '7lf5QDTdNUE'
    button_url:
    button_text:
  - feature_title: Cinematic Videos
    feature_image_path: /images/alternating/mavik.png
    feature_description_html: >-
      <p>In these videos we let the beautiful scenery speak for itself.
      Typically consists mainly of inspiring music paired with scenes of the
      vineyard, tasting room, wine pours and happy
      customers.</p>
    special_info:
      - info_title: Avg. Video Length
        info: 0:30 - 1:00 Min
      - info_title: Starting At
        info: $1,000
    videos:
      - youtube_id: 'Ji5ILx5NP24'
    button_url:
    button_text:
  - feature_title: Sales/Promo Videos
    feature_image_path: /images/alternating/wine-case.png
    feature_description_html: >-
      <p>These videos rely on a well written script to clearly communicate a specific selling point of your winery or describe a special promotion. They usually utilize paid actors or voice artists combined with appropriate footage from of your winery.</p>
    special_info:
      - info_title: Avg. Video Length
        info: 0:30 - 1:30 Min
      - info_title: Starting At
        info: $800
    videos:
      - youtube_id: 'pNFgfHfQdBE'
    button_url:
    button_text:
  - feature_title: Customer Testimonial Videos
    feature_image_path: /images/alternating/wine-tasters.png
    feature_description_html: >-
      <p>Let your customer do the talking for you. It's more credible than explaining your own virtues and it's cool to hear your customers say nice things about you.</p>
    special_info:
      - info_title: Avg. Video Length
        info: 0:15 - 0:30 Min
      - info_title: Starting At
        info: $500
    videos:
      - youtube_id: 'trhJXPjEI8I'
    button_url:
    button_text:
_comments:
  cpm: Cost Per Thousand Views
  ctr: Click Through Rate
  sr: Signup Rate
  cr: Conversion Rate
  acv: Average Customer Value
---
<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="#quote-form" class="button">Lets Talk</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

{% include alternating.html %}

<div class="filming-prices" id="price">
	
	<h2>Daily Filming Rates & Discounts</h2>
	<section>
		<img src="/images/icons/video-camera.svg" alt="" />
		<h3>1 Day</h3>
		<h2>$1,200<span>/Day</span></h2>
		<h4>+ Travel expenses</h4>
	</section>
	<section>
		<img src="/images/icons/video-camera.svg" alt="" />
		<h3> 2 Days</h3>
		<h2>$1,000<span>/Day</span></h2>
		<h4>+ Travel expenses</h4>
	</section>
	<section>
		<img src="/images/icons/video-camera.svg" alt="" />
		<h3>5 Days</h3>
		<h2>$800<span>/Day</span></h2>
		<h4>+ Travel expenses</h4>
	</section>
	<p><strong>Notice:</strong> Schedule filming together with other wineries in your area to save on filming costs.</p>
</div>

<div class="filming-prices">
	
	<h2>Editing Discounts</h2>
	<section>
		<img src="/images/icons/film-strip.svg" alt="" />
		<h3>Full Price</h3>
		<h4>If you spend</h4>
		<h2>$4,999</h2>
		<h4>Or less</h4>
	</section>
	<section>
		<img src="/images/icons/film-strip.svg" alt="" />
		<h3>10% OFF</h3>
		<h4>If you spend</h4>
		<h2>$5,000</h2>
		<h4>Or more</h4>
	</section>
	<section>
		<img src="/images/icons/film-strip.svg" alt="" />
		<h3>20% OFF</h3>
		<h4>If you spend</h4>
		<h2>$10,000</h2>
		<h4>Or more</h4>
	</section>
	<p><strong>Notice:</strong> Purchase Videos together with other wineries in your area to save on editing costs.</p>
</div>

<!--{% include price-tiers.html title="Filming Price" %}-->