---
layout: default
permalink: /wineries/websites/
headline: We Build Websites for wineries
banner-cta: Learn More
banner-cta-url: '#alternating'
features:
  - feature_title: It needs to load fast
    feature_image_path:
    feature_description_markdown:
      These days most of your customers will be looking you up on their phones which means you need a site that loads instantly. If your customers have to wait around… they’ll just go back to google and check out a different winery.
    button_url:
    button_text:
  - feature_title: It needs to look great
    feature_image_path:
    feature_description_markdown:
      Once the page actually loads you need to wow them immediately by how amazing your winery is. You can’t expect them to dig through your site looking for photos and stuff to read. If they aren't amazed within 3 seconds most people will leave and never come back.
    button_url:
    button_text:
  - feature_title: It needs to get the job done
    feature_image_path:
    feature_description_markdown:
      Once your site visitor decides to stick around a bit, it needs to be easy for them to find the information they’re looking for. Don’t make them work their way through multiple layers of navigation to get directions to your tasting room. They should be able to find it intuitively, without even thinking.
      
      The goal is for them to physically find their way to your tasting room, right?
    button_url:
    button_text:
  - feature_title: And finally, It needs to require minimal effort
    feature_image_path:
    feature_description_markdown: >-
      Websites are supposed to make your life easier. You shouldn’t have to put a lot of work into upkeeping your site. It should sit there quietly humming along, doing its job without any help from you and when you do need to make changes like updating your holiday hours or posting an upcoming event it should be so simple… a baby could do it.
    button_url:
    button_text:
pricing:
  - title: Basic
    icon_image_path:
    description_html: >-
      <p>Great for wineries looking for a professional website that Loads fast,
      Looks great, Requires minimal upkeep and helps attract new customers to
      your tasting room.</p>
    snippet:
    price_number: 250
    list:
      - listitem: Simple navigation
      - listitem: Clear call to action
      - listitem: About us
      - listitem: Wines
      - listitem: Events
      - listitem: Tasting Info
      - listitem: Hours of operation
      - listitem: Contact Info
      - listitem: Social media links
      - listitem: Address
      - listitem: Directions
      - listitem: Map
  - title: Pro
    icon_image_path:
    description_html: <p>For companies looking to spend $50-$150/day on advertising.</p>
    snippet:
    price_number: 500
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Premium
    icon_image_path:
    description_html: <p>For companies looking to spend $150+/day on advertising.</p>
    snippet:
    price_number: 1000
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
---
<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="{{ page.banner-cta-url }}" class="button">{{ page.banner-cta }}</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

<h2 style="text-align: center;">Things You Should Look For In Your Wineries Website</h2>
{% include alternating.html %}
{% include price-tiers.html %}