---
layout: default
permalink: /wineries/websites/
headline: We Build Professional websites that help wineries get new customers to their tasting room
banner-cta: Learn More
banner-cta-url: '#alternating'
permalink: /wineries/web-development/
features:
  - feature_title: Video Production
    feature_image_path: /images/illustrations/features/video.png
    feature_description_html: >-
      <p>Produce video ads showing the customers enjoying themselves at the
      vineyard, tasting room, grove, etc.</p>
    button_url: '#video-grid'
    button_text: Example Videos
  - feature_title: Targeted Advertising
    feature_image_path: /images/illustrations/features/fb_ad.png
    feature_description_html: >-
      <p>Run these ads to wine lovers in your local area. We can target by age,
      gender, location, income, interests, past purchases. Example: Single woman
      within 20 miles of your tasting room, between the age of 35-50 who own a
      home, like chardonnay and have purchased wine online before.</p>
    button_url:
    button_text:
  - feature_title: Lead Generation
    feature_image_path: /images/illustrations/features/fb_form.png
    feature_description_html: >-
      <p>Offer a free tasting the first time they visit the tasting room. The
      coupon is delivered digitally when the customer fills out a form which
      includes contact information.</p>
    button_url:
    button_text:
  - feature_title: Report Results
    feature_image_path: /images/illustrations/features/fb_reports.png
    feature_description_html: >-
      <p>Track return on investment by linking leads acquired online to sales
      generated in your tasting room.</p>
    button_url: '#conversions'
    button_text: See How We Track Results
  - feature_title: Optimize
    feature_image_path: /images/illustrations/features/fb_demographics.png
    feature_description_html: >-
      <p>Break campaigns down to core demographics and analyze results
      independently to identify top performing customer segments and improve ad
      performance over time.</p>
    button_url:
    button_text:
pricing:
  - title: Basic
    icon_image_path:
    description_html: >-
      <p>Great for wineries looking for a professional website that Loads fast,
      Looks great, Requires minimal upkeep and helps attract new customers to
      your tasting room.</p>
    snippet:
    price_number: 250
    list:
      - listitem: Simple navigation
      - listitem: Clear call to action
      - listitem: About us
      - listitem: Wines
      - listitem: Events
      - listitem: Tasting Info
      - listitem: Hours of operation
      - listitem: Contact Info
      - listitem: Social media links
      - listitem: Address
      - listitem: Directions
      - listitem: Map
  - title: Pro
    icon_image_path:
    description_html: <p>For companies looking to spend $50-$150/day on advertising.</p>
    snippet:
    price_number: 500
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Premium
    icon_image_path:
    description_html: <p>For companies looking to spend $150+/day on advertising.</p>
    snippet:
    price_number: 1000
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
---
<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="{{ page.banner-cta-url }}" class="button">{{ page.banner-cta }}</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>
{% include alternating.html %}
{% include price-tiers.html %}