---
layout: default
title: True Take Media
permalink: /grocery-stores/
banner_headline: 'Local Video Advertising<br />For Grocery Stores'
banner_logo_image: /images/logos/logo.svg
banner_image_path: /videos/background-videos/filming.png
banner_video_path: /videos/background-videos/filming.mp4
banner_video_poster_path: /videos/background-videos/filming.png
banner_vid_path: I-l-iyw7jtA
youtube_video_id: I-l-iyw7jtA
features:
  - feature_title: Affordable Advertising
    feature_image_path: /images/screen-shots/fb-target-stg.jpg
    bg_image: /images/banners/phone-card.jpg
    feature_description_html: '<p>We&#39;ll help you reach thousands of your local customers consistently & affordably.</p>'
    button_url:
    button_text:
  - feature_title: Effective Promotions
    feature_image_path: 
    bg_image: /images/banners/phone-card.jpg
    feature_description_html: '<p>Brand awareness is great and all... but we&#39;ll also get customers coming through your doors more often. Most products we promote end up selling out.</p>'
    button_url: #
    button_text: Learn More
  - feature_title: Convenient Partnership
    feature_image_path:
    bg_image: /images/banners/white-board.jpg
    feature_description_html: '<p>We work hard to make a partnership with True Take Media as simple as possible for you and your team... if it wasn&#39;tt for the constant stream of new customers, you might forget we&#39;re even there.</p>'
    button_url: #
    button_text: Learn More
---

{% include banner.html %}

<div class="ad-icons large">
	<img src="/images/icons/harmons.svg" alt="" />
	<img src="/images/icons/lins.svg" alt="" />
	<img src="/images/icons/associated-foods.svg" alt="" />
	
	<h2>Do You Work For Harmons, Lins or Associated Foods? <br /> <strong>We Would Love To Talk. =)</strong></h2>
</div>

{% include video-block.html %}

{% include alternating.html %}













