---
layout: default
title: Thank You
nav_title: thank you
nav_class: /thank-you/
nav_order: 6
hide_from_nav: true
permalink: /thank-you/
banner_headline: Congratulations, It Worked!
banner_sub_head: Now Let's Schedule a Time To Talk
banner_logo_image: /images/logos/logo.svg
banner_image_path: /images/banners/food.jpg
banner_video_path: /videos/home.mp4
banner_button_text: Schedule A Meeting
banner_button_link: #meeting-form
---
{% include banner.html %}

{% include request-meeting.html %}

<article style="max-width: 480px; margin: 0 auto; text-align: center;">
	<p></p>
	<p>If you have any questions or want to talk to someone right now feel free to contact us at...</p>
	<p style="text-align: center;"><strong>(435) 680-7669</strong> or <strong>kevin@truetakemedia.com</strong></p>
</article>