---
layout: default
permalink: /wineries/advertising/
headline: 'We manage Facebook advertising for wineries'
icon_path: /uploads/wine.png
banner_image_path: /images/banners/videos/wineries.jpg
banner_vid_image_path: /images/banners/videos/wineries_vid.jpg
banner_vid_path: /images/banners/videos/wineries4.mp4
acv_number: 250
ad_spend: 1500
cpm_number: 49.0
ctr_number: 1.45
sr_number: 15.0
cr_number: 35.0
features:
  - feature_title: Video Production
    feature_image_path: /images/illustrations/features/video.png
    feature_description_html:
      <p>Produce video ads showing the customers enjoying themselves at the
      vineyard, tasting room, grove, etc.</p>
    button_url: '/wineries/video/'
    button_text: Example Videos
  - feature_title: Targeted Advertising
    feature_image_path: /images/illustrations/features/fb_ad.png
    feature_description_html: >-
      <p>Run these ads to wine lovers in your local area. We can target by age,
      gender, location, income, interests, past purchases. Example: Single woman
      within 20 miles of your tasting room, between the age of 35-50 who own a
      home, like chardonnay and have purchased wine online before.</p>
    button_url:
    button_text:
  - feature_title: Lead Generation
    feature_image_path: /images/illustrations/features/fb_form.png
    feature_description_html: >-
      <p>Offer a free tasting the first time they visit the tasting room. The
      coupon is delivered digitally when the customer fills out a form which
      includes contact information.</p>
    button_url:
    button_text:
  - feature_title: Report Results
    feature_image_path: /images/illustrations/features/fb_reports.png
    feature_description_html: >-
      <p>Track return on investment by linking leads acquired online to sales
      generated in your tasting room.</p> 
    button_url: '#conversions'
    button_text: See How We Track Results
  - feature_title: Optimize
    feature_image_path: /images/illustrations/features/fb_demographics.png
    feature_description_html: >-
      <p>Break campaigns down to core demographics and analyze results
      independently to identify top performing customer segments and improve ad
      performance over time.</p>
    button_url:
    button_text: 
description:
pricing:
  - title: Basic
    icon_image_path:
    description_html: '<p>For companies looking to spend $15-$50/day on advertising.</p>'
    snippet:
    price_number: 250 
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Pro
    icon_image_path:
    description_html: '<p>For companies looking to spend $50-$150/day on advertising.</p>'
    snippet:
    price_number: 500 
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
  - title: Premium
    icon_image_path:
    description_html: '<p>For companies looking to spend $150+/day on advertising.</p>'
    snippet:
    price_number: 1000 
    list:
      - listitem: Ad creation
      - listitem: Weekly ad refresh
      - listitem: Monthly campaign reports
      - listitem: Monthly strategy meeting
_comments:
  cpm: Cost Per Thousand Views
  ctr: Click Through Rate
  sr: Signup Rate
  cr: Conversion Rate
  acv: Average Customer Value
---


<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="#quote-form" class="button">Lets Talk</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

{% include alternating.html %}

{% include conversion-funnel.html %}

{% include price-tiers.html %}

