---
layout: default
---
<div class="banner">
	<hgroup>
		<img src="{{ page.banner_icon_path }}" alt="" style="max-width: 240px;"/>
		<h1>{{ page.region }}</h1>
		<a href="#reach" class="button">Learn More</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>


<div id="reach" class="alternating">
	<div id="video-production">
		<img src="{{ page.reach_img_path }}" alt=""/>
		<hgroup class="">
			<h2 class="editable">Potential Reach</h2>
			<h1>{{ page.potential_reach }}</h1>
			<article>
				{{ page.audience_description_md }}
			</article>
			<!--<a href="{{ feature.button_url }}" class="button">{{ feature.button_text }}</a>-->
		</hgroup>
	</div>
</div>


