---
layout: default
acv_number: 250
ad_spend: 1500
cpm_number: 30.0
ctr_number: 1.5
sr_number: 15.0
cr_number: 35.0
---
<div class="banner dark small audience-reports" style="background-image: url(/images/banners/wine.jpg);">
	<hgroup>
		<h1>{{ page.region }}</h1>
		<img src="/images/illustrations/wine-lovers.svg" alt="" />
		<!--<a href="#reach" class="button">Learn More</a>-->
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>


<div id="reach" class="alternating">
	<div id="video-production">
		<img src="{{ page.reach_img_path }}" alt=""/>
		<hgroup class="">
			<h2 class="editable">Customer Base</h2>
			<h1>{{ page.potential_reach }}</h1>
			<article>
				{{ page.audience_description_html }}
			</article>
			<!--<a href="{{ feature.button_url }}" class="button">{{ feature.button_text }}</a>-->
		</hgroup>
	</div>
</div>


<div id="demographics">
	<h2>Demographics</h2>
	{% for image in page.demographics %}
	<img src="{{ image.image_path }}" alt="{{ image.image_title }}" />
	<!--<h5>{{ image.image_title }}</h5>-->
	{% endfor %}
</div>

{% include conversion-funnel.html %}

