<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="google-site-verification" content="R1WgIivOB_30hcC0i2QV1nvWSmJE0ObJKM7miivm6Bk" />
        
        <link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		{{ content }}			
	</body>
</html>