---
layout: default
---
<div class="banner half" style="background-image: url('{{ page.banner_image_path }}');">
	<hgroup class="center full">
		<h1 class="animate-right">{{ page.title }}</h1>
		<h2 class="animate-left">{{ page.sub-title }}</h1>
		{% if page.cta == true %}
			<br />
			<a href="{{ page.cta-link }}" class="button">{{ page.cta-text }}</a>
		{% endif %}
	</hgroup>
</div>

<article style="background: #fff;">{{ content }}</article>

<div class="stein">
	<img src="/images/events/oktoberfest/stein.png" alt="" />
	<h1>Win An Ornate Stein</h1>
	<h2>Members who signup online will be entered in the stein raffle.</h2>
</div>

{% if page.pricing == true %}
<section id="pricing" class="pricing" >
	{% assign count = 0 %}
	{% for tier in page.price-tiers %}
	
	<div style="background-color: {% cycle '#d6682f','#c92f32','#009d7f','#4c6fa5','#5e3b3b','#8b5fa8' %};">
		<h3>{{ tier.title }}</h3>
		<h4>{{ tier.price }}</h4>
		<ul>
			{% for detail in tier.details %}
			<li>
				{{ detail }}
			</li>
			{% endfor %}
		</ul>
		<!--{% if tier.more-info == true %}
		<a href="{{ tier.link-to-more-info }}"><i class="fa fa-info-circle" aria-hidden="true"></i> More Info</a>
		{% endif %}-->
		
		{% assign count = count | plus: 1 %}
		{% if tier.payment-interval == 'yearly' %}
		<button class="snipcart-add-plan button outline"
		    data-plan-id="00{{ count }}"
		    data-plan-name="{{ tier.title }}"
		    data-plan-interval="Year"
		    data-plan-amount="{{ tier.price }}"
		    data-plan-url="{{ page.permalink }}"
		    data-item-shippable="true">
		    Add To Cart
		</button>
		{% elsif tier.payment-interval == 'once' %}
		<button
		    class="snipcart-add-item button outline"
		    data-item-id="00{{ count }}"
		    data-item-name="{{ tier.title }}"
		    data-item-price="{{ tier.price }}"
		    data-item-url="{{ page.permalink }}">
		    Add To Cart
		</button>
		{% endif %}
		
	</div>
	{% endfor %}
</section>
{% endif %}


<!--<section class="beer">
	<img src="/images/illustrations/beer-mug.png" alt="" />
	
	<div class="quantity">
		<h3>How Many Beers Would You like?</h3>
		<div>
			<img src="/images/illustrations/1-beer-mug.png" alt="" />
			<h3>Just 1 Beer</h3>
			<p>For people who can't commit.</p>
			<h4>$4.00/Beer</h4>
			<a href="#"
			    class="snipcart-add-item button outline"
			    id="beer-button"
			    data-item-id="single-beer"
			    data-item-name="Single Beer"
			    data-item-price="4.00"
			    data-item-quantity="1"
			    data-item-image="{{ site.url }}/images/illustrations/1-beer-mug.png"
			    data-item-url="{{ page.permalink }}">
			    Add To Cart
			</a>
		</div>
		
		<div>
			<img src="/images/illustrations/3-beer-mugs.png" alt="" />
			<h3>3 Beer</h3>
			<p>For people who know what they want.</p>
			<h4>$3.33/Beer</h4>
			<button
			    class="snipcart-add-item button outline"
			    id="beer-button"
			    data-item-id="3-beers"
			    data-item-name="3 Beers"
			    data-item-price="10.00"
			    data-item-quantity="1"
			    data-item-image="{{ site.url }}/images/illustrations/3-beer-mugs.png"
			    data-item-url="{{ page.permalink }}">
			    Add To Cart
			</button>
		</div>
		
		<div>
			<img src="/images/illustrations/5-beer-mugs.png" alt="" />
			<h3>5 Beers</h3>
			<p>For people who take life for all it's worth.</p>
			<h4>$3.00/Beer</h4>
			<a href="#"
			    class="snipcart-add-item button outline"
			    id="beer-button"
			    data-item-id="5-beers"
			    data-item-name="5 Beers"
			    data-item-price="15.00"
			    data-item-quantity="1"
			    data-item-image="{{ site.url }}/images/illustrations/5-beer-mugs.png"
			    data-item-url="{{ page.permalink }}">
			    Add To Cart
			</a>
		</div>
		
		<!--<label>
			<span id="qty-minus" class="qtyChange">-</span>
			<input id="quantity" type="text" name="quantity" value="3" />
			<span id="qty-plus" class="qtyChange">+</span>
		</label>
		<br />
		<a href="#" class="snipcart-checkout button outline">No Thanks</a>
		<button
		    class="snipcart-add-item button outline"
		    id="beer-button"
		    data-item-id="beer"
		    data-item-name="Beer"
		    data-item-price="4.00"
		    data-item-quantity="3"
		    data-item-image="{{ site.url }}/images/illustrations/beer-mug.png"
		    data-item-url="{{ page.permalink }}">
		    Add To Cart
		</button>
		
		<script>
			$(".qtychange").on("click", function() {
			
				var $qtyChange = $(this);
				var oldValue = $("input#quantity").val();
				
				if ($qtyChange.attr("id") == "qty-plus") {
					var newVal = parseFloat(oldValue) + 1;
				} 
				else {
					if (oldValue > 0) {
						var newVal = parseFloat(oldValue) - 1;
					} 
					else {
						newVal = 0;
					}
				}
				
				$("input#quantity").val(newVal);
				$('#beer-button').attr('data-item-quantity',newVal);
			});
		</script>--*>
	</div>
</section>-->

<!--<ul class="blogposts">
	{% for post in site.posts %}
		{% if page.event-title == post.event %}
		<li>
			<a href="{{ post.url }}">
				<div class="postbanner" style="background-image: url('{{ post.banner_image_path }}');"></div>
				<!--<h3>{{ post.category }}</h3>--*>
				<h2>{{ post.title }}</h2>
				{{ post.excerpt }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>-->

<!--<section class="map-address">
	<p><strong>{{ page.location }}</strong><br />{{ page.address }}</p>
</section>-->
<div id='map'></div>

<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCcJFPhkoOBXSK_JPqpIyHXfQlPIQGI5ag'></script>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=4524315f9130bf5da27eb009d53f4dbcd7d6ef3f'></script>
<script type='text/javascript'>
	function init_map(){
		var myOptions = {
			zoom: {{ page.mapzoom }},
			zoomControl: true,
			disableDoubleClickZoom: true,
			scaleControl: false,
			scrollwheel: false,
			center:new google.maps.LatLng({{ page.lat }},{{ page.lng }}),
			mapTypeControl: true,
			mapTypeControlOptions: {
			    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
			},
			panControl: true,
			streetViewControl: true,
			draggable : true,
			overviewMapControl: false,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
		map = new google.maps.Map(document.getElementById('map'), myOptions);
		
		marker = new google.maps.Marker({
			map: map,
			position: new google.maps.LatLng({{ page.lat }},{{ page.lng }})
		});
		
		infowindow = new google.maps.InfoWindow({content:'<h3>{{ page.location }}</h3><h4>{{ page.address }}</h4>'});
		
		google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});
		
		infowindow.open(map,marker);
	}
	
	google.maps.event.addDomListener(window, 'load', init_map);
</script>