---
layout: default
---
<div class="banner half" style="background-image: url('{{ page.banner_image_path }}');">
	<hgroup class="center full">
		<h1 class="animate-right">{{ page.title }}</h1>
	</hgroup>
</div>


{% if page.pricing == true %}
<section class="pricing">
	{% assign count = 0 %}
	{% for tier in page.price-tiers %}
	
	<div style="background-color: {% cycle '#d6682f','#c92f32','#009d7f','#4c6fa5','#5e3b3b','#8b5fa8' %};">
		<h3>{{ tier.title }}</h3>
		<h4>{{ tier.price }}</h4>
		<ul>
			{% for detail in tier.details %}
			<li>
				{{ detail }}
			</li>
			{% endfor %}
		</ul>
		{% if tier.more-info == true %}
		<a href="{{ tier.link-to-more-info }}"><i class="fa fa-info-circle" aria-hidden="true"></i> More Info</a>
		{% endif %}
		
		{% assign count = count | plus: 1 %}
		{% if tier.payment-interval == 'yearly' %}
		<button class="snipcart-add-plan button outline"
		    data-plan-id="{{ count }}"
		    data-plan-name="{{ tier.title }}"
		    data-plan-interval="Year"
		    data-plan-amount="{{ tier.price }}"
		    data-plan-url="http://mccfoundation.com{{ page.permalink }}">
		    Add To Cart
		</button>
		{% elsif tier.payment-interval == 'once' %}
		<button
		    class="snipcart-add-item button outline"
		    data-item-id="{{ count }}"
		    data-item-name="{{ tier.title }}"
		    data-item-price="{{ tier.price }}"
		    data-item-url="http://northmcc.com{{ page.permalink }}">
		    Add To Cart
		</button>
		{% endif %}
		
	</div>
	{% endfor %}
</section>
{% endif %}

<article style="background: #fff;">{{ content }}</article>

<!--<ul class="blogposts">
	{% for post in site.posts %}
		{% if page.event-title == post.event %}
		<li>
			<a href="{{ post.url }}">
				<div class="postbanner" style="background-image: url('{{ post.banner_image_path }}');"></div>
				<!--<h3>{{ post.category }}</h3>--*>
				<h2>{{ post.title }}</h2>
				{{ post.excerpt }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>-->