---
layout: default
---

<div class="banner" style="background-image: url('{{ page.image_path }}');">
	<hgroup>
		<h1>{{ page.title }}</h1>
		<a href="#quote-form" class="button">Lets Talk</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

<div class="alternating">
	{% for feature in page.features %}
	<div id="video-production">
		<img src="/images/home/clapper.png" alt=""/>
		<hgroup class="">
			<h2 class="editable">{{ feature.feature_title }}</h2>
			<article>
				{{ feature.feature_description_html }}
			</article>
			
		</hgroup>
	</div>
	{% endfor %}
</div>

<div class="conversions">
	<h2>Return On Investment</h2>
	<ul>
		<li>
			<img src="/images/icons/money.svg" alt="" />
			<h3>Ad Spend</h3>
			<h4>$1,500</h4>
		</li>
		<div>
			<h3>CPM</h3>
			<h4>${{ page.cpm_number }}</h4>
			<img src="/images/icons/arrow.svg" alt="" />
		</div>
		
		<li>
			<img src="/images/icons/eye.svg" alt="" />
			<h3>Reach</h3>
			<h4>50,000</h4>
		</li>
		<div>
			<h3>CTR</h3>
			<h4>{{ page.ctr_number }}%</h4>
			<img src="/images/icons/arrow.svg" alt="" />
		</div>
		
		<li>
			<img src="/images/icons/hand.svg" alt="" />
			<h3>Clicks</h3>
			<h4>725</h4>
		</li>
		<div>
			<h3>SR</h3>
			<h4>{{ page.sr_number }}%</h4>
			<img src="/images/icons/arrow.svg" alt="" />
		</div>
		
		<li>
			<img src="/images/icons/female.svg" alt="" />
			<h3>Leads</h3>
			<h4>109</h4>
		</li>
		<div>
			<h3>CR</h3>
			<h4>{{ page.cr_number }}%</h4>
			<img src="/images/icons/arrow.svg" alt="" />
		</div>
		
		<li>
			<img src="/images/icons/heart.svg" alt="" />
			<h3>Customers</h3>
			<h4>27</h4>
		</li>
		<div>
			<h3>ACV</h3>
			<h4>${{ page.acv_number }}</h4>
			<img src="/images/icons/arrow.svg" alt="" />
		</div>
		
		<li>
			<img src="/images/icons/money.svg" alt="" />
			<h3>Revenue</h3>
			<h4>$6,797</h4>
		</li>
	</ul>
</div>



<div class="price-tiers">
	{% for pricetier in page.pricing %}
	<section>
		<div class="image">
			<img src="{{ pricetier.icon_image_path }}" alt="" />
		</div>
		<h2>{{ pricetier.title }}</h2>
		<p>{{ pricetier.description }}</p>
		<span>{{ pricetier.snippet }}</span>
		<br />
		<ul>
			{% for listitem in pricetier.list %}
			<li>{{ listitem.listitem }}</li>
			{% endfor %}
		</ul>
		<h3>${{ pricetier.price }}</h3>
	</section>
	{% endfor %}
</div>