---
layout: default
title: Product Videos
permalink: /videos/product-videos/
headline: 'High End, Affordable <strong>Product Videos</strong>'
banner_image_path: /images/banners/workspace.jpg
banner_vid_image_path: 
banner_vid_path:
features:
  - feature_title: Basic Product Videos
    feature_image_path:
    youtube_id: VvAWJaPUgqo
    feature_description_html: '<ul>
	<li>Tell your story</li>
	<li>Highlight products</li>
	<li>Promote special offers</li>
	<li>Teach people things they didn’t know.</li>
</ul>'
    button_url: '#video-grid'
    button_text: Learn More 
sections:
  - title: What kind of videos do we make?
    icon: /images/icons/video-camera-red.svg
    description: '<p>Basic videos feature a single product and a single shot to capture your customers attention and introduce them to the product. Typically 9-15 seconds</p>'
    url:
    button_text:
---



<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<video playsinline autoplay muted loop poster="{{ page.banner_vid_image_path }}" id="bgvid">
	    <!--<source src="polina.webm" type="video/webm">-->
	    <source src="{{ page.banner_vid_path }}" type="video/mp4">
	</video>
	<hgroup>
		<h1>{{ page.headline }}</h1>
		<a href="#cta" class="button">Request A Quote</a>
	</hgroup>
	<img src="/images/banners/banner-bottom.svg" alt="" class="banner-bottom" />
</div>

<article style="text-align: center;">
	<h2>We believe that great video ads<br />should be simple and affordable.</h2>
	<p>Whether you’re running a lot of split tests, retargeting specific parts of your funnel or just trying to come up with new angles to engage more people and avoid ad fatigue you’ll be needing a lot of video ads and they need to be simple, fast, affordable and effective.</p>
	
	<p>We create professional product videos that work great for for e-commerce companies advertising on Facebook, Instagram or anywhere else excellent videos are served. </p>
	
</article>

<div class="process">
	<h3>Here’s How Our Process Works</h3>
	<ul>
		<li>
			<strong>1</strong>
			<div class="image">
				<img src="/images/icons/sales-rep.svg" alt="" />
			</div>
			<h2 class="editable">Order</h2>
			<p class="editable">Choose the type of video you want and place your order.</p>
		</li>
		<li>
			<strong>2</strong>
			<div class="image">
				<img src="/images/icons/clipboard.svg" alt="" />
			</div>
			<h2 class="editable">Ship</h2>
			<p class="editable">Mail your product to 10 North Central St. Colorado City AZ, 86021</p>
		</li>
		<li>
			<strong>3</strong>
			<div class="image">
				<img src="/images/icons/solar-panel.svg" alt="" />
			</div>
			<h2 class="editable">Plan</h2>
			<p class="editable">We do a quick ad planning meeting (which you can be involved in if you’d like).</p>
		</li>
		<li>
			<strong>4</strong>
			<div class="image">
				<img src="/images/icons/light-bulb.svg" alt="" />
			</div>
			<h2 class="editable">Produce</h2>
			<p class="editable">We produce a beautiful video that will make your customers take notice.</p>
		</li>
		<li>
			<strong>5</strong>
			<div class="image">
				<img src="/images/icons/light-bulb.svg" alt="" />
			</div>
			<h2 class="editable">Deliver</h2>
			<p class="editable">We send you the video file to use as you need.</p>
		</li>
	</ul>
</div>


{% include alternating.html %}


{% include sections.html %}